// Assert!
// =======


@import 'config/manifest';


// Assertions
// ----------

body {
  padding: size('rhythm');
}

p {
  margin-bottom: size('shim');
  transition: opacity 300ms;

  &:last-child {
    opacity: 0;
  }
}
