// Banner
// ======

[role="banner"] {
  @include span(100%);
  @include leader(.25);
  text-transform: lowercase;
  text-align: center;

  .brand {
    @include font-size(normal);
    display: inline-block;
  }

  a {
    #{$link} {
      display: inline-block;
      font-style: italic;
    }
  }

  .tagline {
    @include before(" / ");
    @include font-size(small);
    color: $gray;
  }
}
