// Banner Layout
// =============

[data-region='banner'] {
  margin: 0 auto size('gutter');
  max-width: size('wide');
  padding: size('shim') size('shim') 0;

  @include above(33em) {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}

.brand {
  font-weight: normal;
}

.brand-title,
.brand-subtitle {
  #{$link} {
    color: inherit;
  }

  #{$focus} {
    color: color('action');
  }
}

.brand-title {
  font-weight: bold;
}

.brand-subtitle {
  font-style: italic;
  text-transform: lowercase;
}
