// Layout
// ======

%spacer {
  @include after("— & —") {
    @include amp;
    @include leader;
    display: block;
    color: color($alt lightest, .75);
    text-align: center;
  }
}

.container {
  @include container;
}
