// Contentinfo
// ===========

[role="contentinfo"] {
  @extend %boilerplate;
  @include font-size(small);
  clear: both;
  color: color('gray');
  padding: size(rhythm) 0;
  text-transform: uppercase;
}

.social {
  @include font-size(smaller);
  text-align: center;

  li {
    display: inline-block;
    margin: 0 size(half-shim);
  }
}

.colophon {
  margin: 0 auto;
  max-width: size(page);
  padding: 0 size(gutter);
}
