// Contentinfo
// ===========

[data-region="contentinfo"] {
  @extend %boilerplate;
  @include font-size('smaller', .75);
  border-top: 2px dotted color('border');
  clear: both;
  color: color('gray');
  margin: size('spacer') auto 0;
  max-width: size('page');
  padding: size('half-shim') size('shim') size('spacer');
  text-transform: uppercase;
}

.social {
  a + a {
    @include before(' | ') {
      color: color('gray');
    }
  }
}
