// Fat Footer
// ==========

.fatfooter {
  @include contrasted('dark-background');
  align-items: center;
  background-image: linear-gradient(to top left, color('black'), color('dark-background'));
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 80vh;
  padding: size('gutter') 0;

  a,
  .link {
    @include link('dark-background');
  }

  $btn-color: action-color('dark-background');

  .btn {
    &,
    #{$link} {
      color: $btn-color;
    }

    #{$focus} {
      @include contrasted($btn-color);
      border-color: $btn-color;
    }
  }
}
