// Footer Layout
// =============


[data-layout='footer'] {
  @include angle('top');
  font-size: var(--small);
  font-style: italic;
  margin-top: var(--spacer);
  padding: var(--gutter) 0;
  position: relative;

  p {
    margin: 0;
  }
}


.footer-content {
  margin-top: var(--gutter);
}
