// Footer Layout
// =============


[data-layout='footer'] {
  margin-top: var(--spacer);
}

.footer {
  @include angle('top');
  font-size: var(--small);
  font-style: italic;
  margin-bottom: var(--gutter);

  p {
    margin: 0;
  }
}
