// Footer Layout
// =============

[data-region='contentinfo'] {
  margin: 0 auto size('gutter');
  max-width: size('page');
  padding: size('gutter') size('shim');
}

.copyright {
  @include font-size('small');
  font-style: italic;
  padding-left: size('logo');
  text-transform: lowercase;

  i {
    font-style: normal;
  }
}
