// Global Layout
// =============

body {
  display: grid;
  grid-template-areas:
  'header header header header header'
  'nav   nav   nav   nav   nav'
  'main   main   main   main   main'
  '...... ...... footer ...... ......';
  grid-template-columns: $columns;
  grid-template-rows: size('hero') repeat(3, auto);
  max-width: 100vw;
}


[data-layout='header'] {
  grid-area: header;
}


[data-layout='nav'] {
  grid-area: nav;
  position: relative;
  z-index: 1;
}


[data-layout='main'] {
  grid-area: main;
}


[data-layout='footer'] {
  grid-area: footer;
}
