// Global Layout
// =============

html,
body {
  width: 100%;
}


// Primary Layout
// --------------

body {
  display: grid;
  grid-column-gap: var(--gutter);
  grid-template-columns: (
    [message-start head-start nav-start main-start foot-start] minmax(0, 100vw)
    [message-end head-end nav-end intro-end hero-end main-end foot-end]
  );
  grid-template-rows: (
    [message-start] auto
    [message-end head-start] auto
    [head-end nav-start] auto
    [nav-end main-start] 1fr
    [main-end foot-start] auto
    [foot-end head-end]
  );
  min-height: 100vh;
  overflow-x: hidden;

  @include above('break') {
    grid-template-columns: (
      [message-start head-start fancy-start] auto
      [head-end nav-start main-start foot-start] 2fr
      [fancy-end] 1fr
      [nav-end] minmax(var(--gutter), var(--spacer))
      [message-end main-end foot-end]
    );
    grid-template-rows: (
      [head-start message-start] auto
      [message-end nav-start fancy-start] auto
      [nav-end main-start] auto
      [fancy-end] 1fr
      [main-end foot-start] auto
      [foot-end] var(--spacer)
      [head-end]
    );
  }

  @include before('') {
    background-image: repeating-linear-gradient(
      -45deg,
      yellow,
      yellow 1em,
      black 1em,
      black 2em
    );
    grid-area: message;
    position: relative;
    text-align: center;
    z-index: -1;
  }

  @include after('Under construction…') {
    @include font-family('code');
    align-self: center;
    background: yellow;
    border-radius: var(--half-shim);
    display: block;
    font-size: var(--code);
    grid-area: message;
    justify-self: center;
    margin: var(--half-shim);
    padding: 0 var(--shim);
  }
}


// Template Areas
// --------------

[data-layout='header'],
[data-layout='nav'],
[data-layout='main'],
[data-layout='footer'],
[data-layout='fancy'] {
  position: relative;
}


[data-layout='header'] {
  grid-area: head;
}


[data-layout='nav'] {
  grid-area: nav;
}


[data-layout='main'] {
  grid-area: main;
}


[data-layout='footer'] {
  grid-area: foot;
}


[data-layout='fancy'] {
  grid-area: fancy;
  z-index: -1;
}


// Grid Helpers
// ------------

$full-columns: (
  [start] 0
  [left] minmax(auto, 1fr)
  [center] minmax(var(--spacer), var(--page))
  [right] minmax(0, 1fr)
  [gutter] minmax(0, 0.25fr)
  [end]
);

@mixin full-grid {
  display: grid;
  grid-column-gap: var(--gutter-plus);
  grid-template-columns: $full-columns;
}

[data-grid='full'] {
  @include full-grid;
}

[data-align='left'] {
  grid-column: left / center;
}

[data-align='center'] {
  grid-column: center / right;
}

[data-align='right'] {
  grid-column: right / gutter;
}

[data-align='right-edge'] {
  grid-column: right / end;
}

[data-align='center-edge'] {
  grid-column: center / end;
}

[data-align='left-center'] {
  grid-column: left / right;
}

[data-align='right-center'] {
  grid-column: center / gutter;
}

[data-align='gutters'] {
  grid-column: left / gutter;
}

[data-align='full'] {
  grid-column: start / end;
}
