// Site Header
// ===========


[data-layout='header'] {
  margin-left: neg(--shim);

  @include above('break') {
    align-self: start;
    height: 100vh;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
}


[rel='home'] {
  #{$link} {
    display: grid;
    font-size: calc(var(--h2) + 15vw);
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
    line-height: 0.75;
    writing-mode: vertical-rl;

    .first {
      color: var(--accent);
    }

    .last {
      color: var(--action-light);
    }

    @include above('break') {
      font-size: calc(var(--h2) + 15vh);
    }
  }

  #{$focus} {
    .first,
    .last {
      --offset: 0;
      font-style: italic;
      font-weight: normal;
    }
  }
}


.first,
.last {
  --offset: 0;
  grid-column: 1 / -1;
  grid-row: 1 / span 1;
  transform: translateX(var(--offset));
  transition: transform 400ms ease;

  @include above('break') {
    transform: translateY(var(--offset));
  }
}


.first {
  --offset: neg(--gutter);
  position: relative;
  z-index: 2;
}


.last {
  --offset: var(--gutter);
  text-align: right;
}
