// Main Layout
// ===========


[data-layout='main'] {
  display: grid;
  grid-template-areas: '... ... contents ... ...';
  grid-template-columns: $columns;
}


[data-grid] {
  grid-column: 1 / -1;
}


[data-module] {
  grid-column: 3 / span 1;
  margin: size('gutter') 0;
}
