// Main Layout
// ===========


[data-layout='main'] {
  display: grid;
  grid-template-areas: '... ... contents ... ...';
  grid-template-columns: $columns;
}

[data-grid] {
  grid-column: 1 / -1;
}
