// Sitewide Message
// ================

@keyframes caution {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100vw 0;
  }
}

[data-layout='message'] {
  animation: caution 20s linear infinite;
  animation-play-state: paused;
  background-image: repeating-linear-gradient(
    -45deg,
    black,
    black 0.5em,
    yellow 0.5em,
    yellow 1em,
    black 1em,
  );
  background-size: 1.45em 100%;
  display: grid;
  text-align: center;

  &:hover {
    animation-play-state: running;
  }
}

.message {
  @include font-family('code');
  align-self: center;
  background: yellow;
  border-radius: var(--half-shim);
  display: block;
  font-size: var(--code);
  justify-self: center;
  margin: var(--half-shim);
  padding: 0 var(--shim);
}
