// Navigation Layout
// =================


[data-layout='nav'] {
  align-items: start;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto;
  justify-content: center;

  @include above('break') {
    justify-content: end;
    margin-bottom: neg(--gutter);
  }
}


[data-nav] {
  $r1: calc(93% - var(--shim) * #{(30 + random(60)) / 100});
  $r2: calc(100% - var(--spacer) * #{(30 + random(60)) / 100});
  $l1: calc(var(--shim) * #{(30 + random(60)) / 100});
  $l2: calc(100% - var(--spacer) * #{(30 + random(60)) / 100});

  #{$link} {
    --r: $r1 $r2;
    --l: $l1 $l2;
    border-top: var(--shim) solid var(--action-hover);
    color: inherit;
    clip-path: polygon(0 0, 100% 0, var(--r), var(--l));
    display: block;
    font-size: var(--small);
    font-style: italic;
    font-weight: bold;
    margin: 0 -1px;
    padding: var(--gutter) var(--shim) var(--spacer);
    text-decoration: none;
    transition: background-color 200ms ease, clip-path 300ms ease;
    writing-mode: vertical-rl;

    @include above('break') {
      border-top: 0;
    }
  }

  #{$focus} {
    background: var(--action-light);
    color: var(--action);
  }
}



// Locations
// ---------


$nav: (
  'home'
  'writing'
  'speaking'
  'work'
  'art'
  'contact'
);


@each $item in $nav {
  $i: index($nav, $item);
  $r1: calc(95% - var(--shim) * #{(30 + random(60)) / 100});
  $r2: calc(100% - var(--gutter) * #{random()});
  $l1: calc(var(--shim) * #{(30 + random(60)) / 100});
  $l2: calc(100% - var(--gutter) * #{random()});

  [data-nav='#{$item}'] {
    order: length($nav) - $i;

    #{$focus} {
      --r: $r1 $r2;
      --l: $l1 $l2;
    }
  }


  [data-location='#{$item}'] {
    [data-nav='#{$item}'] {
      #{$link} {
        --r: $r1 $r2;
        --l: $l1 $l2;
        --text-shadow: #000;
        background-color: var(--action-hover);
        color: var(--background);
        font-style: normal;
        font-weight: normal;
      }
    }
  }
}
