// Navigation
// ==========

$nav: who what why press;


[role="navigation"] {
  @extend %boilerplate;
  @include font-size(small);
  padding-bottom: size(half-shim);
  text-align: center;

  a {
    #{$link} {
      color: color(title);
      display: inline-block;
      padding: 0 size(half-shim);

      @include before('+') {
        display: inline-block;
        width: .5em;
      }
    }

    #{$focus} {
      @include before('/');
      color: color(focus);
    }

    @each $slug in $nav {
      .#{$slug} &[href*="#{$slug}"] {
        @include before('/');
        color: color(focus);
      }
    }
  }
}


// Breakpoint
// ----------

@include at(page) {
  [role="banner"],
  [role="navigation"] {
    float: left;
    padding: 0 size(half-shim);
    text-align: left;
    width: 50%;

    a {
      #{$link} {
        padding: size(shim);
      }
    }
  }

  [role="navigation"] {
    float: right;
    text-align: right;
  }
}
