// Navigation Layout
// =================


[data-layout='nav'] {
  @include font-family('alt');
  background: color('background');
  display: grid;
  font-size: size('boiler');
  grid-template-columns: $columns;
  position: sticky;
  top: -1px;

  @include before('') {
    @include position(-1px 0 null 0);
    border-top: 1px $border-style color('border');
    grid-column: 1 / 5;
  }

  @include after('') {
    @include position(null 0 -1px 0);
    border-bottom: 1px $border-style color('border');
    grid-column: 2 / -1;
  }
}


.nav-inner {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  grid-column: 3 / span 1;
  margin-left: negative('shim');
  max-width: size('page');
  position: relative;

  // active angle
  @include wrap-content('') {
    @include position(-1px 0 null null);
    @include square('half-shim');
    background: color('background');
    border: 1px $border-style color('border');
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    transform: translate3d(50%, -50%, 0) rotate(45deg);
    z-index: 2;
  }

  @include before(null) {
    border-color: color('background');
    top: -2px;
  }
}


[data-nav] {
  flex: 0 0 auto;
  font-weight: bold;
  padding: size('half-shim') size('shim');
}


@each $item in $nav {
  [data-location='#{$item}'] {
    [data-nav='#{$item}'] {
      color: color('text');
      position: relative;

      // active angle
      @include wrap-content('') {
        @include position(null null -1px 50%);
        @include square('half-shim');
        background: color('background');
        border: 1px $border-style color('border');
        clip-path: polygon(100% 0, 0% 100%, 100% 100%);
        transform: translate3d(-50%, 50%, 0) rotate(-135deg);
        z-index: 2;
      }

      @include before(null) {
        border-color: color('background');
        bottom: -2px;
      }
    }
  }
}
