// Pagination
// ==========

.pagination {
  font-style: italic;
  padding: size('spacer') 0;
  text-align: center;

  .location {
    @include wrap-content(' • ');
    margin: 0 1em;
  }

  .now,
  .context {
    display: inline-block;
    font-style: normal;
    vertical-align: middle;
  }

  .now {
    @include font-size('page-active');
  }

  .context {
    @include font-size('page-count');
    padding: 0 0.125em;
  }

  .prev {
    @include before('« ');
  }

  .next {
    @include after(' »');
  }

  .disabled {
    color: color('gray');
  }
}
