// Layout
// ======

%spacer {
  @include after('— & —') {
    @extend %amp;
    color: color('primary' ('rgba': .5));
    display: block;
    margin-top: size('spacer');
    text-align: center;
  }
}

.container,
.page-header {
  margin: 0 auto;
  max-width: size('page');
  padding: 0 size('shim');
}

.page-header {
  padding-top: size('spacer');
}

.rst-body {
  padding-bottom: size('spacer');

  &:first-child {
    padding-top: size('spacer');
  }
}
