// Root Layout
// ===========

@include import-webfonts;

:root {
  @include contrasted('background');
  @include font-family('body');
  font-size: calc(1.1em + 0.5vw);
  line-height: map-get($ratios, 'mia');
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}
