// Root
// ====

html,
body {
  min-height: 100%;
}

html {
  background: linear-gradient(to top left, color('gradient'), color('background') 75%);
}

:root {
  @include font-family('body');
  font-size: calc(#{percentage(18 / 16)} + 0.25vw);
}
