// TinyLetter
// ==========

[data-region='tinyletter'] {
  align-items: center;
  display: flex;
  max-width: 100%;
  padding: 0 size('shim');
  width: size('page');
}

.tiny-image {
  border: 1px dotted color('background');
  border-radius: 6px;
  display: none;
  flex: 0 0 size('logo');
  width: size('logo');

  @include above(30em) {
    display: block;
  }
}

.tiny-inner {
  @include font-size('small');
  flex: 1 1 auto;
}

.tiny-title {
  @include font-size('root');
  font-style: italic;
  padding: 0 size('shim');
}

[data-form='tinyletter'] {
  display: flex;
  flex-direction: column;
  padding: 0 size('shim');

  @include above(30em) {
    flex-direction: row;
  }
}

[data-form-field='tlemail'] {
  align-items: stretch;
  display: flex;
  flex: 1 1 auto;
  margin: 0;
  padding-bottom: size('shim');

  @include above(30em) {
    padding-bottom: 0;
    padding-right: size('shim');
  }

  [data-input-type='default'] {
    flex: 1 0 auto;
  }
}
