// Button Patterns
// ===============

.btn {
  &,
  #{$link} {
    @include contrasted('action');
    display: inline-block;
    font-style: italic;
    padding: 0 size('shim');
    text-decoration: none;
    text-transform: lowercase;
  }
}
