// Filters
// =======


@mixin apply-filters(
  $filter-list
) {
  @each $filter in $filter-list {
    [data-filter='#{$filter}'] {
      &:checked {
        ~ [data-filters] {
          &:not([data-filters~='#{$filter}']) {
            display: none;
          }
        }
      }
    }
  }
}


// Filter Styles
// -------------

[data-has-filters] {
  position: relative;
}

.filter-label {
  @include font-size('small');
  color: color('action');
  display: inline-block;
  font-style: italic;
  margin-right: size('half-shim');
}

.filter-value {
  @include is-hidden;

  &:checked {
    + .filter-label {
      @include wrap-content('[' ']');
      color: inherit;
    }
  }
}
