// Form Pattern
// ============

.form-label {
  display: block;
}

::placeholder {
  font-style: italic;
}

[data-input='text'] {
  border: 1px solid;
  display: inline-block;
  padding: size('half-shim');
}
