// Hero Images
// ===========

.hero {
  max-height: 85vh;
  overflow: hidden;
  position: relative;

  @include after('') {
    @include stretch;
    box-shadow: 0 0 size('shim') color('text') inset;
    pointer-events: none;
  }

  + [data-module='page-header'] {
    background-image: linear-gradient(40deg, color('background') 85%, transparent 85%);
    margin-bottom: size('gutter');
    margin-top: negative('gutter') * 2;
    padding-right: 10%;
    padding-top: size('shim');
    position: relative;
    z-index: 1;

    @include before('') {
      background: color('background');
      bottom: 0;
      display: block;
      position: absolute;
      right: 100%;
      top: 0;
      width: calc((100vw - #{size('page')}) / 2);
    }
  }
}

.hero-image {
  width: 100%;
}

.hero-caption {
  @include font-size('small');
  background-image: linear-gradient(40deg, color('background') 80%, transparent 80%);
  bottom: size('gutter') * 2;
  font-style: italic;
  padding: size('half-shim') size('gutter') * 2 0 size('shim');
  position: absolute;
  z-index: 2;
}

