// Root
// ====

@import "compass/reset";

@include fonts;
@include establish-baseline;
@include border-box-sizing;
@include icon-placeholder(andmeyer);

html {
  @extend %serif;
  color: $base;
  text-shadow: rgba(white,.5) 0 1px 0;
}

body {
  background: no-repeat fixed;
  background-size: cover;
}

@include data-icons;
