// ----------------------------------------------------------------------------
// Reset

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Root

@include establish-baseline;

html {
  @include text-shadow(rgba(white,.5) 0 1px 0);
  color: $base;
}

body { @include serif; }

img {
  vertical-align: bottom;
  width: 100%;
}

// ----------------------------------------------------------------------------
// Imports

@import "type";
@import "icons";
