// ----------------------------------------------------------------------------
// Reset

@import "compass/reset";
@import "fonts";

// ----------------------------------------------------------------------------
// Root

$noise    : image-url('noise.png');
$bg1      : rgba($pink-lightest,.25);
$bg2      : rgba($blue-lightest,.25);
$gradient : linear-gradient(top, $bg1, $bg2);

@include establish-baseline;

html {
  @include background($pink-hint);
  @include background($bg1 $noise);
  @include background($gradient, $noise);
  @include text-shadow(rgba(white,.5) 0 1px 0);
  background-attachment: fixed;
  color: $base;
}

body { @include serif; }

img {
  vertical-align: bottom;
  width: 100%;
}

// ----------------------------------------------------------------------------
// Imports

@import "type";
@import "icons";
