// ----------------------------------------------------------------------------
// Links

a {
  &:hover, &:active {
    outline: none;
  }
  #{$link} {
    color: $alt;
    text-decoration: none;
  }
  #{$focus} {
    color: $accent;
  }
}

// ----------------------------------------------------------------------------
// Ampersand

.amp { @include amp; }

// ----------------------------------------------------------------------------
// Typography

%type {

  h1 {
    @include adjust-font-size-to($largepx);
    @include at-breakpoint($total-columns) {
      @include adjust-font-size-to($xlargepx);
    }
    a {
      #{$link} { color: $pink-dark; }
      #{$focus} { color: $blue-dark; }
    }
  }

  h2 {
    @include adjust-font-size-to($medpx);
    @include trailer(.5,$medpx);
    @include at-breakpoint($total-columns) {
      @include adjust-font-size-to($largepx);
      @include trailer(.5,$largepx);
    }
  }

  h3, h4, strong { font-weight: bold; }
  h5, h6, em, blockquote { font-style: italic; }

  p, ul, ol, pre, blockquote { @include trailer; }
  ul { list-style-type: disc; }
  ol { list-style-type: decimal; }

  blockquote {
    padding: 0 rhythm(.751);
    border-left: rhythm(.25) solid $lighter;
  }

  ul, ol {
    ul, ol { margin-left: rhythm(1); }
  }

  figcaption {
    @include sanscond;
    @include adjust-font-size-to($smallpx);
    padding: rhythm(.5, $smallpx);
    background: rgba($pink-light,.125);
  }

  pre {
    @include adjust-font-size-to($xsmallpx);
    @include mono;
    margin-left: rhythm(-.5,$xsmallpx);
    padding: rhythm(.5,$xsmallpx);
    border-left: 3px solid $pink-lightest;
  }

}