{% import 'utility.macros.j2' as utility %}
{% import 'content/macros.j2' as content %}


{% macro show(
  slugs,
  title=none
) %}
  <section data-grid="feature">
    {% if title %}
      <h2 data-title="feature">{{ title|typogrify }}</h2>
    {% endif %}

    {% for slug in slugs %}
      {% set page = slug|get_config %}
      {% if page %}
        {{ item(page, loop.index) }}
      {% else %}
        <div>MISSING: {{ slug }}</div>
      {% endif %}
    {% endfor %}
  </section>
{% endmacro %}


{% macro item(
  page,
  index
) %}
  {% set image = page.config.image[0] if page.config.image else none %}
  {% set url = content.page_link(page) %}

  {% set large = ((index + 2) is divisibleby(3)) %}
  {% set size = 'large' if large else 'small' %}
  {% set flip = ((index + 2) is divisibleby(6)) %}
  {% set flip = ((index + 3) is divisibleby(6)) or flip %}
  {% set flip = 'flip' if flip else none %}

  <article data-feature="{{ size }}" {{ utility.attr_if('class', flip) }}>
    <div class="feature-text">
      <a href="url" class="feature-wrap">
        <h3 class="feature-title">
          {{ page.title|typogrify }}
        </h3>
        {% if page.config.brag %}
          — {{ page.config.brag|rst }}
        {% endif %}
      </a>
    </div>

    <a href="url" class="feature-image">
      <img src="/static/pictures/{{ image.src }}" alt="{{ image.alt or '' }}" />
    </a>
  </article>
{% endmacro %}
