{% import 'utility.macros.j2' as utility %}
{% import 'content/macros.j2' as content %}


{% macro show(
  slugs,
  title='Featuring…'
) %}
  {% if title %}
    <h2 data-title="section">
      <span>{{ title }}</span>
    </h2>
  {% endif %}

  <section data-grid="feature">
    {% for slug in slugs %}
      {{ item(slug|get_config) }}
    {% endfor %}
  </section>
{% endmacro %}


{% macro item(
  page
) %}
  {% if page %}
    <article class="feature">
      <h3 class="feature-title">
        {{ utility.link_if(
          url=content.page_link(page),
          content=page.title,
          class='feature-link'
        ) }}
      </h3>
      {% if page.config.brag %}
        <div class="feature-brag">
          {{ page.config.brag|rst }}
        </div>
      {% endif %}
      </article>
  {% endif %}
{% endmacro %}
