{% import 'utility.macros.j2' as utility %}
{% import 'content/macros.j2' as content %}


{% macro show(
  title='Featuring…',
  slugs=none,
  yaml=none
) %}
  <hr data-layout="grid-border" />

  {% if title %}
    <h2 data-title="section">
      {{ title }}
    </h2>
  {% endif %}

  <section data-grid="feature">
    {% if slugs %}
      {% for slug in slugs %}
        {% set page = slug|get_config %}
        {% if page %}
          {{ item(
            title=page.title,
            url=content.page_link(page),
            brag=page.config.brag,
            image=page.config.image[0].src if page.config.image else none
          ) }}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if yaml %}
      {% set file = yaml[0] %}
      {% set key = yaml[1] or 'feature' %}
      {% set links = file|get_config(key) %}

      {% for link in links %}
        {{ item(
          title=link.title,
          url=link.url,
          brag=link.brag,
          image=link.image
        ) }}
      {% endfor %}
    {% endif %}
  </section>
{% endmacro %}


{% macro item(
  title,
  url,
  brag=none,
  image=none,
  brag_html=none
) %}
  <article class="feature">
    {% set style = "--background: url('/static/pictures/%s')" % image if image else none %}
    {{ utility.link_if(
      url=url,
      content='',
      class='feature-image',
      attrs={'style': style}
    ) }}
    <div class="feature-text">
      <h3 class="feature-title">
        {{ utility.link_if(
          url=url,
          content=title,
          class='feature-link'
        ) }}
      </h3>
      {% if brag or brag_html %}
        <div class="feature-brag">
          {{ brag_html or brag|rst }}
        </div>
      {% endif %}
    </div>
  </article>
{% endmacro %}
