// Banner
// ======

$banner-base: #111;
$banner-light: #999;
$banner-alt: #c9c;
$banner-alt-dark: #303;

$text-shadow: rgba(white, 0.75) 1px 1px 0;

header[role="banner"] {
  @include trailing-border(2px, .5);
  @include transition(all 600ms);
  background: $banner-alt image-url("portfolio/texture.png");
  color: $banner-base;
  position: relative;
  text-align: center;
  text-shadow: $text-shadow;
  z-index: 30;
  &:hover { background-color: $banner-light; }

  h1 {
    @extend .allcaps;
    @include adjust-font-size-to($medpx);
    position: relative;
    .amp {
      @include adjust-font-size-to($xxlargepx,2);
      position: relative;
      top: 15px / 96px * 1em;
    }
    text-shadow: rgba(white, 0.75) 2px 2px 0, $text-shadow;
  }

  p {
    @include trailer(0);
    @include wrap-content(" — ");
    font-style: italic;
  }

  a {
    &:link, &:visited {
      display: block;
      color: inherit;
    }
  }

  @include at-breakpoint($break) {
    h1 {
      @include adjust-font-size-to($xlargepx);
      .amp { @include adjust-font-size-to($xxxlargepx,4); }
    }
    p { @include adjust-font-size-to($medpx); }
  }
}
