// Base
// ====

@import "compass";
@import "compass/layout";
@import "compass/reset";
@import "susyone";
@import "modular-scale";
@import "accoutrement";

@mixin full($whatever) {
  @include pie-clearfix;
  clear: both;
  width: auto;
}

// Font Sizes

$base-size: 18px;
$ratio: minor-third() fifth();

$normpx       : $base-size;
$medpx        : ms(2);
$smallpx      : ms(-1);
$xsmallpx     : ms(-2);
$xxsmallpx    : ms(-3);
$xxxsmallpx   : ms(-4);
$largepx      : ms(3);
$xlargepx     : ms(5);
$xxlargepx    : ms(8);
$xxxlargepx   : ms(13);

$base-font-size: $base-size;
$base-line-height: $medpx;

$rhythm-unit: rem;
$rem-with-px-fallback: true;

$base-rhythm-unit: rhythm();

// Grid

$total-columns: 12;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 1em;

$med: 30em $total-columns;
$break: 60em $total-columns;

// Colors

$base: #4c4c4c;
$alt: #005498;
