// Bio
// ===

#bio {
  @extend .sans;
  @include leading-border(6px,1);
  @include background(
    image-url("portfolio/rays.png") no-repeat scroll bottom,
    image-url("portfolio/blood.png") no-repeat fixed top right,
    linear-gradient(to bottom, #ff9999, white) no-repeat scroll center
  );
  color: #442222;
  text-shadow: #ffdddd 1px 1px 0px;

  > div {
    @extend .container;
    > div {
      @include prefix(4,8);
      @include pie-clearfix;
      @include padding-leader(1);
      @include background(image-url("portfolio/eric.png") no-repeat scroll left bottom);
      @include background-size(columns(4,8));
      position: relative;
      clear: both;
      z-index: 15;

      @include at-breakpoint($break) {
        @include pad(6,2);
        @include background-size(columns(4));
        background-position: columns(3) bottom;
      }
    }
  }

  h2 {
    @include slab;
    @include adjust-font-size-to($medpx);
    @include trailer(.5);
    font-weight: bold;
    color: #662222;
    text-shadow: #ffdddd 1px 1px 0px, #ffdddd 2px 2px 0px;
    @include at-breakpoint($med) { @include adjust-font-size-to($largepx); }
  }
  p {
    @include trailer(0);
    @include padding-trailer(1);
  }
  abbr {
    @extend .sans;
    font-variant: small-caps;
  }
}