// Footer
// ======

$grid-background-column-color: rgba(lightblue, .125);

[role="contentinfo"] {
  @extend .serifitalic;
  background: image-url('portfolio/scribble.png') no-repeat bottom;
  position: relative;
  > div {
    @extend .container;
    @include susy-grid-background;
    @include padding-leader;
    @include padding-trailer(3);

    @include at-breakpoint($break) {
    > div { @include pre(2); }
    }
  }

  article {
    @include adjust-font-size-to($smallpx);

    &#hcard-eric-a-meyer {
      position: relative;
      clear: both;
      z-index: 15;
    }

    &#inspirations {
      position: relative;
      z-index: 15;
    }

    &#colophon {
      position: relative;
      z-index: 15;
    }

    @include at-breakpoint($break) {
      &#hcard-eric-a-meyer {
        p { @include span-columns(6, 10); }
        address { @include span-columns(4 omega, 10); }
      }
      &#inspirations { @include span-columns(6, 10); }
      &#colophon { @include span-columns(4 omega, 10); }
    }
  }
  strong, address {
    font-weight: normal;
    @extend .smallcaps;
  }
  address {
    @include trailer(1, 14px);
    .adr, .street-address {
      display: block;
    }
    a {
      &:link, &:visited {
        white-space: nowrap;
      }
    }
  }

  p { @include trailer(1); }
  ul {
    @include no-style-list;
    @include leader(1, 14px);
  }

  .no-fontface & .fonts { display: none; }
}

/* Social -------------------------------------------------------------- */

@mixin social-icon($href, $icon: $href) {
  &[href*='#{$href}'] {
    &:link, &:visited { @extend %icon-#{$icon}; }
  }
}

.social {
  @include leader(0);
  @include pie-clearfix;
  li {
    @include span-columns(2, 10);
    @include trailer(1, 14px);
    @include nth-omega(5n);
    position: relative;
    text-align: center;

    @include before(" ") {
      display: none;
      position: absolute;
      bottom: 100%;
      left: 50%;
      height: 0;
      width: 0;
      border: rhythm(.25) solid rgba(black,0);
      border-bottom: 0;
      border-top-color: $base;
    }
    @include after(attr(data-title)) {
      @include box-sizing(border-box);
      display: none;
      position: absolute;
      bottom: 100%;
      left: 0;
      min-width: 100%;
      margin-bottom: rhythm(.25);
      padding: rhythm(.25) rhythm(.5);
      background: red;
      color: white;
      border: 1px solid $base;
      text-shadow: black 0 1px 0;
      white-space: nowrap;
    }

    &:hover {
      &:before, &:after { display: block; }
    }
  }
  a {
    &:link, &:visited {
      @extend %icon-replace;
      @include adjust-font-size-to($xxlargepx);
      display: block;
      color: $base;
    }
    &:hover, &:focus, &:active {
      @include background(image-url("portfolio/highlight.png") no-repeat scroll top);
      @include background-size(contain);
      color: red;
    }
    &:before {
      right: 0;
      text-align: center;
    }
    @include social-icon(dribbble);
    @include social-icon(github);
    @include social-icon(twitter);
    @include social-icon(vimeo);
    @include social-icon(stackoverflow, stack-overflow);
  }
}

