// Links
// -----

a {
  &:link, &:visited {
    color: $alt;
    text-decoration: none;
  }
  &:link, &:visited, &:hover, &:active {
    outline: none;
  }
  &:focus, &:hover, &:active {
    color: complement($alt);
  }
  &:focus {
    outline: thin dotted;
  }
}

// Images
// ------

img {
  vertical-align: bottom;
  max-width: 100%;
}

// Type
// ----

@mixin no-style-list {
  @include reset-box-model;
  list-style: none;
}

%type {

  // Headings

  h2 {
    @extend .allcaps;
    @include adjust-font-size-to(18px);
    @include trailer(1, 18px);
  }

  h3 {
    @include adjust-font-size-to(18px);
    @include trailer(1, 18px);
  }

  h4, h5, h6 {
    @extend .serifbold;
    @include trailer(1);
  }

  // Inline

  cite, em, dfn, address, i {
    font-style: italic;
  }

  strong, dfn, b {
    font-weight: bold;
  }

  sup, sub {
    font-size: smaller;
    line-height: 0;
  }

  sup {
    vertical-align: super;
  }

  sub {
    vertical-align: sub;
  }

  abbr, acronym {
    letter-spacing: 0.1em;
    cursor: help;
  }

  ins {
    text-decoration: underline;
  }

  del {
    text-decoration: line-through;
  }

  mark {
    background: #ffff99;
    background-color: rgba(yellow, 0.5);
    text-shadow: none;
  }

  small {
    @include adjust-font-size-to(12px);
  }

  q {
    font-style: italic;
    em {
      font-style: normal;
    }
  }

  pre, code, tt {
    @extend .mono;
  }


  // Block

  p {
    @include trailer;
  }

  pre {
    margin: $base-rhythm-unit;
    white-space: pre;
    white-space: pre-wrap;
    white-space: pre-line;
    word-wrap: break-word;
  }

  blockquote {
    @extend .serifitalic;
  }

  // Replaced

  img {
    vertical-align: bottom;
    max-width: 100%;
    -ms-interpolation-mode: bicubic;
  }

  // Lists

  ol, ul, dl {
    @include trailer;
    margin-left: $base-rhythm-unit;
  }

  ol {
    list-style: decimal;
  }

  ul {
    list-style: disc;
    li & {
      list-style-type: circle;
    }
  }

  dt {
    @include leader;
    font-style: italic;
  }

  dd {
    padding-left: $base-rhythm-unit;
  }
}
