// Design
// ======

@mixin site($id, $img: $id) {
  &##{$id} {
    @include background-image(image-url("portfolio/web/#{$img}-pixel.png"));
    @include background-size(cover);
    background-color: #ff8833;
    &:hover {
      @include background-image(image-url("portfolio/web/#{$img}.png"));
    }
  }
}

#web {
  @extend .pixel;
  @extend .default;
  @include leading-border(24px, 2);
  @include trailing-border(24px, 2);
  position: relative;
  background: #ff8833 image-url("portfolio/pixelated.png") repeat scroll center top;
  border-color: #ff3300;
  .multiplebgs & {
    background: #ff8833 {
      image: image-url("portfolio/swirl.png"), image-url("portfolio/pixelated.png");
      repeat: no-repeat, repeat;
      position: right top, center top;
    };
    background-attachment: fixed, scroll;
  }
  > div > div {
    z-index: 16;
  }
  h2 {
    @extend .pixelbold;
    @include adjust-font-size-to(48px);
    @include trailer(1, 48px);
    color: blue;
    text-align: center;
  }
  h3 {
    @extend .pixelbold;
    margin: 0;
    text-shadow: white 0 2px 0;
    a {
      &, &:link, &:visited {
        @include ellipsis;
        @include rhythm-borders(16px, 2.5, 18px);
        display: block;
        padding: {
          left: 0.5em;
          right: 0.5em;
        };
        border-color: black;
        text-align: center;
        white-space: nowrap;
      }
      &:hover, &:focus, &:active {
        @include hide-text;
      }
    }
  }
  article {
    @include trailer;
    overflow: hidden;

    @include site(carrot-project, carrot);
    @include site(green-mud, mud);
    @include site(moztrap, moz);
    @include site(portfoliyo, pyo);

    @include at-breakpoint($med) {
      @include span-columns(4,8);
      @include nth-omega(even);
    }
  }
}
