// Intro
// =====

#intro {
  @extend .default;
  @extend .serifitalic;
  @include padding-leader(.5);
  @include padding-trailer(1.5);
  background: #eee image-url("portfolio/noise.png") fixed repeat top left;
  text-shadow: white 1px 1px 0px;
  h2 {
    @include adjust-font-size-to($largepx);
    @include trailer(1);
    text-shadow: white 1px 1px 0px, white 2px 2px 0px;
    text-transform: none;
    letter-spacing: 0;
    text-align: left;
  }
  blockquote {
    @include trailer;
    cite {
      @extend .smallcaps;
      display: block;
      text-align: right;
    }
  }

  @include at-breakpoint($med) {
    blockquote {
      @include span-columns(4,8);
      @include trailer(0);
      + blockquote { @include omega; }
    }
  }

  @include at-breakpoint($med) {
    h2 { @include adjust-font-size-to($xlargepx); }
  }

  @include at-breakpoint($break) {
    background: #eee
      image-url("portfolio/noise.png") fixed repeat top left,
      image-url("portfolio/cracks.gif") fixed no-repeat top right;

    h2 { @include adjust-font-size-to($xxlargepx); }
  }
}
