// Navigation
// ==========

$amps-spacing: 48px;
$amps-position: 50%;

@import "portfolio/amps/*.png";

nav[role="navigation"] {
  @extend .smallcaps;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;

  @include at-breakpoint($break) { display: block; }

  div {
    @extend .container;
    position: relative;
  }
  ul {
    position: absolute;
    width: columns(2);
    list-style: none;
  }
  li {
    @include adjust-font-size-to(14px);
    white-space: nowrap;
  }
  a {
    &:link, &:visited {
      display: block;
      padding: 0 1em;
      text-shadow: white 1px 1px 0px;
    }
    &.active {
      &:link, &:visited {
        @include background(rgba(black, 0.25));
        border: 1px solid;
        margin: -1px 0;
        color: black;
        cursor: default;
        text-shadow: none;
      }
    }
    &[href="#banner"] {
      &:link, &:visited {
        @include adjust-font-size-to(16px, 1, 14px);
        @include hide-text;
        @include padding-leader;
        @include trailer(1.5);
        @include opacity(0.5);
        @include transition(all, 400ms);
        @include amps-sprite(amp-1, $offset-y: $medpx);
        @include box-sizing(content-box);
        height: image-height("portfolio/amps/amp-1.png");
      }
      &:hover, &:focus, &:active {
        @include opacity(1);
      }
    }
  }
  /* Different Styles per Section */
  &.bio {
    @include slab;
    li {
      @include adjust-font-size-to(9px);
    }
    a {
      &:link, &:visited {
        text-transform: uppercase;
        &.active {
          @include background(rgba(#662222, 0.75));
          color: white;
          border-color: #662222;
        }
        &[href="#banner"] {
          @include padding-leader(1, 9px);
          @include trailer(1.5, 9px);
          @include amps-sprite(amp-2slab, $offset-y: $medpx);
        }
      }
      &:hover, &:focus, &:active {
        color: #662222;
      }
    }
  }
  &.web {
    @include pixel-bold;
    li {
      @include adjust-font-size-to(11px);
    }
    a {
      &:link, &:visited {
        text-transform: uppercase;
        letter-spacing: 0;
        color: blue;
        &.active {
          color: white;
          border: 0;
          margin: 0;
          background: blue;
        }
        &[href="#banner"] {
          @include padding-leader(1, 11px);
          @include trailer(1.5, 11px);
          @include amps-sprite(amp-3pixel, $offset-y: $medpx);
        }
      }
      &:hover, &:focus, &:active {
        color: red;
      }
    }
  }
  &.development {
    @include monospace;
    font-variant: small-caps;
    font-weight: bold;
    letter-spacing: 0;
    a {
      &:link, &:visited {
        color: #9999ff;
        text-shadow: black 1px 1px 0;
        &.active {
          color: black;
          background-color: lime;
          border-color: #009900;
          text-shadow: none;
        }
        &[href="#banner"] {
          @include amps-sprite(amp-4mono, $offset-y: $medpx);
        }
      }
      &:hover, &:focus, &:active {
        color: white;
      }
    }
  }
  &.branding {
    @include sans;
    font-variant: small-caps;
    a {
      &:link, &:visited {
        color: #999999;
        text-shadow: none;
        &.active {
          background: white;
          margin: 0;
          border: 0;
          color: black;
          font-weight: bold;
        }
        &[href="#banner"] {
          @include amps-sprite(amp-5sans, $offset-y: $medpx);
        }
      }
      &:hover, &:focus, &:active {
        color: black;
      }
    }
  }
  //&.writing
  // a[href="#banner"]
  //   &:link, &:visited
  //     background: sprite('portfolio/amps/amp-mud.png', 50%, 24px, 48px) no-repeat
  &.appendix {
    a[href="#banner"] {
      &:link, &:visited {
        @include amps-sprite(amp-6sketch, $offset-y: $medpx);
      }
    }
  }
}