// Root
// ====

@import "../../base/icons";

// Body
@include establish-baseline;
@include border-box-sizing;
@include icon-placeholder(andmeyer);

body {
  @extend .serif;
  color: $base;
}

@include data-icons;

// Selected Text
@mixin accessible-color($background: white) {
  @if lightness($background) >= 65% {
    color: $base;
  }
  @else {
    color: white;
  }
}

::-moz-selection {
  @include accessible-color($alt);
  background: $alt;
  text-shadow: none;
}

::selection {
  @include accessible-color($alt);
  background: $alt;
  text-shadow: none;
}
