// Calendar
// --------

.h-event {
  margin-bottom: size('gutter');

  .org {
    @include font-size('small');

    @include before(' » ') {
      @include font-family('boilerplate');
      @include font-size('smaller');
    }
  }
}

.dt-start {
  @include font-size('small');
  font-style: italic;
}

.p-name {
  @include font-size('h2');
  font-style: italic;
  font-weight: normal;
  margin-bottom: 0;

  .org & {
    font-style: normal;
    font-weight: bold;
  }
}

.p-summary,
.p-location {
  @include font-size('small');
  font-style: italic;
  margin-bottom: 0;
}

.p-category,
.role {
  @include font-family('boilerplate');
  @include before(' » ');
  @include font-size('smaller');
  text-transform: uppercase;
}

.notes {
  @include font-family('boilerplate');
  @include font-size('small');
  margin: 0 0 0 size('gutter');
}


// Orgs
// ----

.org {
  margin-bottom: size('shim');
}
