// Calendar
// --------

.h-event {
  margin-bottom: size('shim');
}

.dt-start {
  @include font-size('small');
  font-style: italic;
}

.p-name {
  margin-bottom: 0;
  font-weight: normal;
  font-style: italic;

  strong {
    font-weight: bold;
    font-style: normal;
  }
}

.p-summary,
.p-location {
  @include font-size('small');
  margin-bottom: 0;
  font-style: italic;
}

.p-category,
.role {
  @extend %boilerplate;
  @include before(' » ');
  @include font-size('smaller');
  text-transform: uppercase;
}

.notes {
  @extend %boilerplate;
  @include font-size('small');
  margin: 0 0 0 size('gutter');
}
