// Feature
// =======

.feature {
  background: no-repeat scroll center;
  background-clip: padding-box;
  background-size: cover;
  border: 2px dotted color('border');
  border-width: 2px 0;
  padding-bottom: size('gutter');
  padding-top: percentage(1/3);

  .container {
    background: color('overlay');
    border: 0;
    border-radius: size('corners');
    box-shadow: 0 0 size('half-shim') color('shadow');
    margin: 0 auto;
    padding: size('shim');
  }

  .feature-summary {
    font-style: italic;
    margin: 0;
  }

  + .module {
    .container {
      border-top: 0;
    }
  }
}
