// Module
// ======

.module {
  .container {
    border-top: 2px dotted color('border');
    padding: size('spacer') size('shim');
  }

  &:first-child {
    .container {
      border-top: 0;
    }
  }

  &.gallery {
    margin: 0;
  }
}

.section-title {
  @include font-size('small');
  @include wrap-content('[' ']');
  margin-bottom: size('shim');
  text-transform: capitalize;
}
