// Posts
// =====

.post {
  @extend %spacer;
  margin-bottom: size('spacer');

  &:last-of-type:after {
    display: none;
  }
}

.byline {
  @include font-size('small');
  color: color('gray');
  font-style: italic;
  margin-bottom: size('gutter');
}

.gallery-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  img {
    width: 100%;
    outline: 1px solid color('text');
  }

  .gallery-item {
    flex: 0 1 49%;
    margin-bottom: size('shim');
  }

  .full {
    flex: 1 1 100%;
  }

  .video {
    padding-top: 1/(16/9) * 48%;

    &.full {
      padding-top: 1/(16/9) * 98%;
    }
  }
}

.readmore {
  @include after('»');
  font-style: italic;
}

.section {
  clear: both;
}

.section-title {
  text-transform: capitalize;
}
