// Press & Interviews
// ==================

.clipping {
  border: 0;
  margin: 0 0 size('gutter');
  padding: 0;

  .quote {
    @include font-size('h2', 1.5);
  }
}

.topic-title {
  @include font-size('small');
}

.citation {
  display: inline-block;
}


// Interviews
// ----------

.interview {
  margin-bottom: size('gutter');
}

.interview-title {
  display: inline;
  margin-bottom: 0;

  .subject {
    font-style: italic;
    font-weight: normal;
  }
}
