// Press & Interviews
// ==================

.clipping {
  blockquote {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .citation {
    display: inline-block;
  }
}

.clipping,
.interview {
  margin-bottom: size('gutter');
}

.clipping-title,
.interview-title {
  margin-bottom: 0;

  .subject {
    font-style: italic;
    font-weight: normal;
  }
}

.interview-title {
  display: inline;
}

.interview {
  .citation {
    display: inline-block;
  }
}
