// Pygments
// ========


// Comment
.c {
  color: color('light');
}

// Error
.err {
  color: color('light');
}

// Generic
.g {
  color: color('gray');
}

// Keyword
.k {
  color: color('text');
}

// Literal
.l {
  color: color('gray');
}

// Name
.n {
  color: color('gray');
}

// Operator
.o {
  color: color('text');
}

// Other
.x {
  color: color('accent');
}

// Punctuation
.p {
  color: color('text');
}

// Comment.Multiline
.cm {
  color: color('light');
}

// Comment.Preproc
.cp {
  color: color('text');
}

// Comment.Single
.c1 {
  color: color('light');
}

// Comment.Special
.cs {
  color: color('text');
}

// Generic.Deleted
.gd {
  color: color('primary');
}

// Generic.Emph
.ge {
  color: color('light');
  font-style: italic;
}

// Generic.Error
.gr {
  color: color('accent');
}

// Generic.Heading
.gh {
  color: color('accent');
}

// Generic.Inserted
.gi {
  color: color('text');
}

// Generic.Output
.go {
  color: color('light');
}

// Generic.Prompt
.gp {
  color: color('light');
}

// Generic.Strong
.gs {
  color: color('light');
  font-weight: bold;
}

// Generic.Subheading
.gu {
  color: color('accent');
}

// Generic.Traceback
.gt {
  color: color('light');
}

// Keyword.Constant
.kc {
  color: color('accent');
}

// Keyword.Declaration
.kd {
  color: color('accent');
}

// Keyword.Namespace
.kn {
  color: color('text');
}

// Keyword.Pseudo
.kp {
  color: color('text');
}

// Keyword.Reserved
.kr {
  color: color('accent');
}

// Keyword.Type
.kt {
  color: color('accent');
}

// Literal.Date
.ld {
  color: color('light');
}

// Literal.Number
.m {
  color: color('primary');
}

// Literal.String
.s {
  color: color('primary');
}

// Name.Attribute
.na {
  color: color('red' ('shade': 15%));
}

// Name.Builtin
.nb {
  color: color('accent');
}

// Name.Class
.nc {
  color: color('primary');
}

// Name.Constant
.no {
  color: color('accent');
}

// Name.Decorator
.nd {
  color: color('accent');
}

// Name.Entity
.ni {
  color: color('accent');
}

// Name.Exception
.ne {
  color: color('accent');
}

// Name.Function
.nf {
  color: color('accent');
}

// Name.Label
.nl {
  color: color('light');
}

// Name.Namespace
.nn {
  color: color('primary');
}

// Name.Other
.nx {
  color: color('light');
}

// Name.Property
.py {
  color: color('light');
}

// Name.Tag
.nt {
  color: color('blue' ('shade': 25%));
}

// Name.Variable
.nv {
  color: color('blue' ('shade': 25%));
}

// Operator.Word
.ow {
  color: color('text');
}

// Text.Whitespace
.w {
  color: color('light');
}

// Literal.Number.Float
.mf {
  color: color('primary');
}

// Literal.Number.Hex
.mh {
  color: color('primary');
}

// Literal.Number.Integer
.mi {
  color: color('primary');
}

// Literal.Number.Oct
.mo {
  color: color('primary');
}

// Literal.String.Backtick
.sb {
  color: color('light');
}

// Literal.String.Char
.sc {
  color: color('primary');
}

// Literal.String.Doc
.sd {
  color: color('light');
}

// Literal.String.Double
.s2 {
  color: color('primary');
}

// Literal.String.Escape
.se {
  color: color('accent');
}

// Literal.String.Heredoc
.sh {
  color: color('light');
}

// Literal.String.Interpol
.si {
  color: color('primary');
}

// Literal.String.Other
.sx {
  color: color('primary');
}

// Literal.String.Regex
.sr {
  color: color('accent');
}

// Literal.String.Single
.s1 {
  color: color('primary');
}

// Literal.String.Symbol
.ss {
  color: color('primary');
}

// Name.Builtin.Pseudo
.bp {
  color: color('accent');
}

// Name.Variable.Class
.vc {
  color: color('accent');
}

// Name.Variable.Global
.vg {
  color: color('accent');
}

// Name.Variable.Instance
.vi {
  color: color('accent');
}

// Literal.Number.Integer.Long
.il {
  color: color('primary');
}
