// scss-lint:disable Comment

// Pygments
// ========

.c { color: color('light'); } /* Comment */
.err { color: color('light'); } /* Error */
.g { color: color('gray'); } /* Generic */
.k { color: color('text'); } /* Keyword */
.l { color: color('gray'); } /* Literal */
.n { color: color('gray'); } /* Name */
.o { color: color('text'); } /* Operator */
.x { color: color('accent'); } /* Other */
.p { color: color('text'); } /* Punctuation */
.cm { color: color('light'); } /* Comment.Multiline */
.cp { color: color('text'); } /* Comment.Preproc */
.c1 { color: color('light'); } /* Comment.Single */
.cs { color: color('text'); } /* Comment.Special */
.gd { color: color('primary'); } /* Generic.Deleted */
.ge { color: color('light'); font-style: italic; } /* Generic.Emph */
.gr { color: color('accent'); } /* Generic.Error */
.gh { color: color('accent'); } /* Generic.Heading */
.gi { color: color('text'); } /* Generic.Inserted */
.go { color: color('light'); } /* Generic.Output */
.gp { color: color('light'); } /* Generic.Prompt */
.gs { color: color('light'); font-weight: bold; } /* Generic.Strong */
.gu { color: color('accent'); } /* Generic.Subheading */
.gt { color: color('light'); } /* Generic.Traceback */
.kc { color: color('accent'); } /* Keyword.Constant */
.kd { color: color('accent'); } /* Keyword.Declaration */
.kn { color: color('text'); } /* Keyword.Namespace */
.kp { color: color('text'); } /* Keyword.Pseudo */
.kr { color: color('accent'); } /* Keyword.Reserved */
.kt { color: color('accent'); } /* Keyword.Type */
.ld { color: color('light'); } /* Literal.Date */
.m { color: color('primary'); } /* Literal.Number */
.s { color: color('primary'); } /* Literal.String */
.na { color: color('red' ('shade': 15%)); } /* Name.Attribute */
.nb { color: color('accent'); } /* Name.Builtin */
.nc { color: color('primary'); } /* Name.Class */
.no { color: color('accent'); } /* Name.Constant */
.nd { color: color('accent'); } /* Name.Decorator */
.ni { color: color('accent'); } /* Name.Entity */
.ne { color: color('accent'); } /* Name.Exception */
.nf { color: color('accent'); } /* Name.Function */
.nl { color: color('light'); } /* Name.Label */
.nn { color: color('primary'); } /* Name.Namespace */
.nx { color: color('light'); } /* Name.Other */
.py { color: color('light'); } /* Name.Property */
.nt { color: color('blue'  ('shade': 25%)); } /* Name.Tag */
.nv { color: color('blue'  ('shade': 25%)); } /* Name.Variable */
.ow { color: color('text'); } /* Operator.Word */
.w { color: color('light'); } /* Text.Whitespace */
.mf { color: color('primary'); } /* Literal.Number.Float */
.mh { color: color('primary'); } /* Literal.Number.Hex */
.mi { color: color('primary'); } /* Literal.Number.Integer */
.mo { color: color('primary'); } /* Literal.Number.Oct */
.sb { color: color('light'); } /* Literal.String.Backtick */
.sc { color: color('primary'); } /* Literal.String.Char */
.sd { color: color('light'); } /* Literal.String.Doc */
.s2 { color: color('primary'); } /* Literal.String.Double */
.se { color: color('accent'); } /* Literal.String.Escape */
.sh { color: color('light'); } /* Literal.String.Heredoc */
.si { color: color('primary'); } /* Literal.String.Interpol */
.sx { color: color('primary'); } /* Literal.String.Other */
.sr { color: color('accent'); } /* Literal.String.Regex */
.s1 { color: color('primary'); } /* Literal.String.Single */
.ss { color: color('primary'); } /* Literal.String.Symbol */
.bp { color: color('accent'); } /* Name.Builtin.Pseudo */
.vc { color: color('accent'); } /* Name.Variable.Class */
.vg { color: color('accent'); } /* Name.Variable.Global */
.vi { color: color('accent'); } /* Name.Variable.Instance */
.il { color: color('primary'); } /* Literal.Number.Integer.Long */
