// Color Configuration
// ===================


// Brand Colors
// ------------
/// @group color
/// @colors
/// @type Map
$brand-colors: (
  'brand-blue': hsl(195, 52%, 31%),
  'brand-pink': hsl(330, 100%, 45%) ('shade': 25%),
);

@include herman-colors('brand-colors', $brand-colors);


// Contrast Colors
// ---------------
/// The light and dark contrast colors act as
/// the high and low range of our palette.
/// @group color
/// @colors
/// @type Map
$contrast-colors: (
  'contrast-light': #f6f6f6,
  'contrast-dark': 'brand-blue' ('shade': 35%, 'desaturate': 40%),
);

@include herman-colors('contrast-colors', $contrast-colors);


// Pattern Colors
// --------------
/// Re-usable color patterns for
/// application in different components.
/// @group color
/// @colors
/// @type Map
$pattern-colors: (
  'text': 'contrast-dark',
  'text-shadow': #fff,
  'background': 'contrast-light',
  'background-0': 'background' ('rgba': 0),

  'action': 'brand-pink',
  'action-light': 'action' ('tint': 70%),
  'action-hover': 'action' ('shade': 25%),

  'accent': 'brand-blue',
  'accent-light': 'accent' ('tint': 70%),
  'callout': 'accent-light',

  'field-chill': 'brand-blue',
  'field-attention': 'action',
);

@include herman-colors('pattern-colors', $pattern-colors);
