// Fonts
// =====

@import '../../node_modules/accoutrement-fonts/sass/fonts';


$font-formats: 'woff' 'ttf';

$sans-stack   : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serif-stack  : Baskerville, Palatino, Cambria, Georgia, serif;
$mono-stack   : Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, serif;

$fonts: (
  'amp': (
    'name': 'BaskervilleAmp',
    'path': 'Baskerville-amp',
    'stack': $serif-stack,
  ),

  'body': (
    'name': 'CenturyOldStyle',
    'path': 'CenturyOldStyle-%s%s',
    'styles': ('regular', 'italic', 'bold'),
    'stack': $serif-stack,
  ),

  'boilerplate': (
    'name': 'FranklinGothicCond',
    'path': 'FranklinGothicCd-%s%s',
    'styles': ('regular', 'italic', 'bold', 'bold italic'),
    'stack': $sans-stack,
  ),
);


// Code
// ----

%mono {
  font-family: $mono-stack;
}
