// Layout Config
// =============


@mixin angle(
  $origin: null
) {
  transform: rotate(-0.0125turn);

  @include above('break') {
    @if ($origin == 'top') {
      $origin: 0 0;
    } @else if ($origin == 'bottom') {
      $origin: 0 100%;
    }

    transform-origin: $origin;
  }
}


@function line($name) {
  @return unquote('[#{$name}]')
}
