// Layout Config
// =============


@function _mmx(
  $size
) {
  @if map-has-key($sizes, $size) {
    @return size($size);
  }

  @return $size;
}


@function mmx(
  $min,
  $max
) {
  $min: _mmx($min);
  $max: _mmx($max);

  @return minmax($min, $max);
}


$columns: (
  mmx('shim', 1fr)
  mmx(0, 'spacer')
  mmx(0, 'page')
  mmx(0, 'spacer')
  mmx('shim', 1fr)
);


$nav: (
  'home',
  'writing',
  'speaking',
  'code',
  'art',
  'contact',
);


$corners: 0 size('half-shim');
$border-style: solid;
