// Sanitize Settings
// =================
// https://github.com/10up/sanitize.css

$root-background-color: color('background');
$root-box-sizing: border-box;
$root-color: color('text');
$root-cursor: default;
$root-font-family: font-family('body');
$root-font-size: calc(#{percentage($base-size / $_browser-default-font-size)} + 0.25vw);
$root-line-height: size('rhythm', em);
$root-text-rendering: auto;

$anchor-text-decoration: underline;
$background-repeat: no-repeat;
$form-element-background-color: transparent;
$form-element-min-height: size('rhythm');
$media-element-vertical-align: middle;
$monospace-font-family: font-family('code');
$nav-list-style: none;
$selection-background-color: color('action');
$selection-color: contrast('action');
$selection-text-shadow: none;
$small-font-size: size('small');
$table-border-collapse: collapse;
$table-border-spacing: 0;
$textarea-resize: vertical;
