// Scale
// =====

@import '../../node_modules/accoutrement-scale/sass/scale';


$base-size: 22px;
$ratio: 'minor-third';

$sizes: (
  'normal': $base-size,
  'rhythm': 2,

  'h1': 3,
  'h2': 2,
  'h3': 1,

  'small': -1,
  'smaller': -2,

  'page-count': 6,
  'page-active': 10,

  'gutter': 'rhythm',
  'spacer': 6,
  'page': 36rem,

  'corners': 3px,
);

$meta-sizes: (
  'shim': size('gutter')/2,
  'half-shim': size('gutter')/4,
);

$sizes: map-merge($sizes, $meta-sizes);
