// Erasure
// =======


[data-erasure] {
  strong {
    font-weight: normal;
  }
}


// [for='erasure'] {
//   @include link;

//   &:focus,
//   &:hover,
//   &:active {
//     @include link('hover');
//   }
// }


[id='erasure'] {
  @include is-hidden;
  position: fixed;

  &:checked {
    ~ [data-erasure] {
      &,
      [href] {
        color: transparent;
      }

      [for='erasure'],
      strong {
        background: rgba(#fff, 0.9);
        color: color('text');
        position: relative;

        @include before(']') {
          position: absolute;
          transform: translateX(-0.6em);
        }

        @include after('[') {
          position: absolute;
          transform: translateX(0.2em);
        }
      }
    }
  }
}
