// Features
// ========


[data-grid='feature'] {
  display: grid;
  grid-auto-columns: 0;
  grid-auto-flow: dense;
  grid-auto-rows: mmx('feature-y', 1fr);
  grid-gap: size('gutter');
  grid-template-columns: repeat(auto-fit, mmx('feature-x', 1fr));
  padding: size('shim') size('gutter') size('shim') size('shim');
}


[data-feature] {
  align-items: stretch;
  display: flex;
}


[data-feature='large'] {
  grid-column: auto / span 2;
  grid-row: auto / span 2;

  @include below('feature-break') {
    grid-column: 1 / span 1;
  }
}


.feature-link {
  &:link,
  &:visited {
    align-items: flex-start;
    background-color: color('callout');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: size('border') $border-style color('brand-blue');
    border-radius: $corners;
    display: flex;
    flex: 1 1 auto;
    margin-left: size('fast-gutter');
    text-decoration: none;
    text-shadow: 0 -1px 0 color('text');
    transition: transform 300ms ease, box-shadow 300ms ease;
  }

  &:hover,
  &:focus,
  &:active {
    border-color: color('action-hover');
    transform: scale(1.0125);
    z-index: 1;

    span {
      @include contrasted('action-hover');
    }
  }
}


.feature-title {
  flex: 0 1 auto;
  margin-left: size('fast-negative');
  margin-top: size('shim');
  max-width: 80%;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color 300ms ease;

  span {
    @include contrasted('brand-blue');
    font-style: italic;
    font-weight: normal;
  }
}
