// Gallery
// =======

[data-gallery] {
  display: grid;
  grid-column: left / gutter;
  grid-gap: var(--gutter);
  grid-template-columns: minmax(0, 1fr);
  justify-content: center;
  margin: var(--double-gutter) 0 var(--double-spacer);
  max-width: 100%;

  @include above('extend') {
    grid-template-columns: repeat(2, minmax(0, 1fr));

    [data-layout='rst'] & {
      margin-left: neg(--spacer);
      margin-right: neg(--spacer);
      max-width: initial;
    }
  }
}

[data-title="gallery"] {
  font-style: italic;
  font-weight: bold;
  grid-column: 1 / -1;
}

[data-gallery-item] {
  border: 1px solid var(--callout);
  box-shadow: 0 0 var(--half-shim) var(--callout);

  &[href] {
    #{$focus} {
      border-color: var(--border);
    }
  }
}

[data-size='full'] {
  grid-column: 1 / -1;
}

.gallery-image {
  width: 100%;
}

.video {
  padding-top: percentage(9/16);
  position: relative;

  > * {
    @include position(0);
    height: 100%;
    width: 100%;
  }
}
