// Bios
// ====


[data-wrap~='intro'],
[id*='intro'] {
  @include feature-type;
  grid-column: 2 / span 3;
  padding: size('double-gutter') 0;
  position: relative;
}


[id*='intro'] {
  border-bottom: 1px $border-style color('border');

  ~ .section {
    grid-column: 3 / span 2;
    margin: size('double-gutter') 0;
  }
}
