// Bios
// ====


[data-wrap~='intro'],
[id*='intro'] {
  @include feature-type;
  grid-column: 2 / span 3;
  margin: size('double-gutter') 0;
  position: relative;
}


[id*='intro'] {
  border-bottom: 1px $border-style color('border');
  padding-bottom: size('double-gutter');

  h2 {
    display: none;
  }
}
