// Tabs
// ====


[data-tab-group] {
  grid-auto-flow: column dense;
  grid-template-columns: $columns;
}


[data-tab-label] {
  @include font-family('alt');
  border-left: 1px $border-style color('border');
  color: color('action');
  font-size: size('boiler');
  grid-column: 4 / -1;
  line-height: size('rhythm');
  margin-left: size('shim');
  padding-left: size('shim');
}


[data-tab-content] {
  display: none;
  grid-row-end: span 10;
}


[data-tab] {
  @include is-hidden;

  &:checked {
    + [data-tab-label] {
      color: inherit;
      font-weight: bold;

      + [data-tab-content] {
        display: block;
      }
    }
  }
}
