// Typography
// ==========


hr:not([data-layout='grid-border']) {
  @include amp;
  @include after('& & &');
  color: var(--border);
  margin: var(--gutter) 0;
  padding: 0;
  text-align: center;
  width: 100%;
}


.amp {
  @include amp;
}


blockquote,
.pullquote {
  @include feature-type;
  margin-bottom: var(--gutter);

  .attribution {
    display: block;
    font-size: 0.8rem;
    font-style: normal;
    font-weight: bold;
    margin-top: neg(--shim);
  }
}


blockquote {
  p {
    &:not(.attribution) {
      text-indent: -0.4em;

      @include wrap-content {
        color: var(--accent-light);
        font-weight: bold;
      }
    }
  }
}
