// ----------------------------------------------------------------------------
// Grid

$susy: (
  columns: 6,
  column-width: 4.5rem,
  gutters: 1/4,
  gutter-position: inside-static,
  grid-padding: 1rem,
);
