// ----------------------------------------------------------------------------
// Grid

$total-columns      : 6;
$column-width       : 4rem;
$gutter-width       : 1.25rem;
$grid-padding       : 1rem;

// ----------------------------------------------------------------------------
// Background

$grid-background-baseline-color   : color(lighter,.25);
$grid-background-baseline-height  : $base-line-height;
$grid-background-column-color     : color($accent lightest,.25);

$show-column-grid-backgrounds     : true;
$show-baseline-grid-backgrounds   : true;
$show-grid-backgrounds            : false;
