// Icons
// =====

@include set(icons, (
  facebook: "\e000",
  html5: "\e001",
  css3: "\e002",
  stack overflow: "\e003",
  twitter: "\e004",
  vimeo: "\e005",
  github: "\e006",
  dribbble: "\e007",
  feed: "\e008",
  mail: "\e009",
));
