// Scale
// =====

@include set(ratio, major-third);

@include set(scale, (
  xxxlarge  : 8,
  xxlarge   : 5,
  xlarge    : 3,
  large     : 2,
  medium    : 1,
  normal    : 0,
  small     : -1,
  xsmall    : -1.5,
  xxsmall   : -2,
  xxxsmall  : -3,
));
