// ----------------------------------------------------------------------------
// Defaults

$base-size: 18px;
$ratio: $minor-third $fifth;

// ----------------------------------------------------------------------------
// Variants

$norm         : 1;
$med          : ms(1,$norm);
$small        : ms(-1,$norm);
$xsmall       : ms(-2,$norm);
$xxsmall      : ms(-3,$norm);
$xxxsmall     : ms(-4,$norm);
$large        : ms(3,$norm);
$xlarge       : ms(5,$norm);
$xxlarge      : ms(8,$norm);
$xxxlarge     : ms(10,$norm);

$normem       : 1em;
$medem        : ms(1,$normem);
$smallem      : ms(-1,$normem);
$xsmallem     : ms(-2,$normem);
$xxsmallem    : ms(-3,$normem);
$xxxsmallem   : ms(-4,$normem);
$largeem      : ms(3,$normem);
$xlargeem     : ms(5,$normem);
$xxlargeem    : ms(8,$normem);
$xxxlargeem   : ms(10,$normem);

$normpx       : $base-size;
$medpx        : ms(1);
$smallpx      : ms(-1);
$xsmallpx     : ms(-2);
$xxsmallpx    : ms(-3);
$xxxsmallpx   : ms(-4);
$largepx      : ms(3);
$xlargepx     : ms(5);
$xxlargepx    : ms(8);
$xxxlargepx   : ms(10);

// ----------------------------------------------------------------------------
// Font Sizes

$base-font-size     : $normpx;
$base-line-height   : $medpx;
