// Typography
// ==========


$link: '&:link, &:visited';
$focus: '&:hover, &:focus, &:active';

a {
  #{$link} {
    color: color(action);
    text-decoration: none;
  }

  #{$focus} {
    color: color(focus);
    text-decoration: underline;
  }
}


// Ampersand
// ---------

.amp { @extend %amp; }


// Images
// ------

img {
  vertical-align: bottom;
  width: 100%;
}


// Headers
// -------

h1 {
  @include font-size(h2);

  @include at(page) {
    @include font-size(h1);
  }

  a {
    #{$link} {
      color: color(title);
    }

    #{$focus} {
      color: color(focus);
    }
  }
}

h2 {
  @include font-size(h3);
  margin-bottom: size(gutter);

  @include at(page) {
    @include font-size(h2);
  }
}

h3 {
  margin-bottom: size(gutter);

  @include at(page) {
    @include font-size(h3);
  }
}


// Blocks
// ------

h4,
strong {
  font-weight: bold;
}

h5,
h6,
em,
blockquote {
  font-style: italic;
}

p,
ul,
ol,
pre,
blockquote {
  margin-bottom: size(gutter);
}

p:empty {
  display: none;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

blockquote {
  border-left: size(shim) solid color('gray');
  padding: 0 size(gutter);

  em {
    font-style: normal;
  }
}

ul,
ol,
blockquote {
  margin-left: size(rhythm);

  @include at(size(page, em) + size(spacer, em)) {
    margin-left: 0;

    ul,
    ol {
      @include font-size(small);
      margin-bottom: size(shim);
      margin-left: size(gutter);
    }
  }
}

cite,
.citation {
  @include before('—');
  @include font-size('small');
  display: block;
  font-style: normal;

  em {
    font-style: italic;
  }
}



// Figures
// -------

figure {
  margin-bottom: size(gutter);

  > a,
  > img,
  > .video {
    display: block;
    outline: 1px solid color(text);
    vertical-align: top;
  }

  .video {
    height: 0;
    padding-top: (1 / (16/9)) * 100%;
    position: relative;

    * {
      @include stretch;
      height: 100%;
      width: 100%;
    }
  }
}

figcaption {
  @extend %boilerplate;
  @include font-size(small);
  background: color(brand (rgba: .125));
  counter-increment: fig;
  margin-top: size(shim);
  padding: size(shim);

  &:before {
    @extend %body;
    content: 'fig.' counter(fig);
    font-style: italic;
    margin-right: .4em;
  }
}


// Code
// ----

tt,
code,
pre {
  @extend %mono;
  @include font-size(small);
}

tt,
code {
  background: color(background (rgba: .75));
  padding: 0 size(half-shim);
}

pre {
  border-left: 3px solid color(brand);
  margin-left: - size(shim);
  padding: size(shim);
}
