// Type Settings
// =============

$base-font-size: 21px;
$base-line-height: size(medium);

$rhythm-unit: rem;
$rem-with-px-fallback: true;

$round-to-nearest-half-line: true;


// Link Variables
// --------------

$link   : '&:link, &:visited';
$focus  : '&:focus, &:hover, &:active';
