// Posts
// =====


[data-layout='rst'],
[data-title='post'],
[data-byline='post'],
[data-summary='post'] {
  grid-column: left / gutter;

  @include above('break') {
    grid-column: center / right;
  }
}


[data-title='post'] {
  align-self: first baseline;
  font-size: var(--h2);
  font-style: italic;
}


[data-summary=post] {
  margin-bottom: var(--gutter-plus);
}


[data-byline='post'] {
  align-self: first baseline;
  grid-row-end: span 2;

  @include above('extend') {
    align-self: start;
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: auto;
    grid-column: left / center;
    margin-bottom: var(--gutter-plus);
    text-align: right;
  }
}


[data-meta] {
  display: inline-block;
  white-space: nowrap;
}
