{% if config.gallery %}
{% for gallery in config.gallery %}
<figure class="gallery{% if gallery.is_section %} section{% endif %}">
  {% if gallery.is_section %}
  {% include "gallery/_caption.html" %}
  {% endif %}

  <div class="gallery-body">
    {% for item in gallery.body -%}
    {%- if item.image -%}
    <div class="image gallery-item{% if item.class %} {{ item.class }}{% endif %}">
      <img src="/static/pictures/{{ item.image }}" {% if item.alt %} alt="{{ item.alt }}"{% endif %} />
    </div>
    {%- elif item.video -%}
    <div class="video gallery-item{% if item.class %} {{ item.class }}{% endif %}">
      {{ item.video|safe }}
    </div>
    {%- endif -%}
    {%- endfor %}
  </div>

  {% if not gallery.is_section %}
  {% include "gallery/_caption.html" %}
  {% endif %}

  {% if gallery.citation %}
  <cite class="gallery-citation">
    {{ gallery.citation|safe }}
  </cite>
  {% endif %}
</figure>
{% endfor %}
{% endif %}
