{% import "utility.macros.j2" as utility %}


{% macro figure(gallery) %}
  <figure data-module="gallery">
    {% if gallery.caption %}
      <figcaption>
        {{ gallery.caption|safe }}
      </figcaption>
    {% endif %}

    {% for item in gallery.body -%}
      {{ object(item) }}
    {%- endfor %}
  </figure>
{% endmacro %}


{% macro object(item) %}
  {% set item_type = 'video' if item.video else 'image' %}
  {% set item_type = 'music' if item.music else item_type %}

  <div data-gallery="{{ item_type }}" {{ utility.attr_if('data-size', item.size) }}>
    {% if item_type == 'image' %}
      <img src="/static/pictures/{{ item.image }}" {{ utility.attr_if('alt', item.alt) }}/>
    {% elif item_type == 'video' %}
      <div class="video-wrap">
        {{ item.video|safe }}
      </div>
    {% elif item_type == 'music' %}
      {{ item.music|safe }}
    {% endif %}
  </div>
{% endmacro %}
