@import '../../node_modules/accoutrement-init/sass/init';

body {
  align-content: center;
  background: black;
  display: grid;
  grid-auto-flow: dense;
  grid-auto-rows: 25px;
  grid-template-columns: repeat(auto-fill, 25px);
  justify-content: center;
}

div {
  border: 5px solid black;
  display: grid;
  grid-auto-flow: dense;
  grid-column-end: span var(--scale, 1);
  grid-row-end: span var(--scale, 1);
  grid-template: repeat(5, minmax(0, 1fr)) / repeat(5, minmax(0, 1fr));
  transition: background-color 4s 2s ease-in-out;

  &:hover {
    background-color: red;
    transition-delay: .01ms;
    transition-duration: 150ms;
  }
}

i {
  outline: 1px solid rgba(black, 0.25);
  background-color: var(--bg);
  grid-column-start: var(--col, 3);
}
