// Calendars
// =========

$event-types: (
  'performance',
  'speaking',
  'art',
  'publication',
  'album',
  'film',
  'software',
);

@include apply-filters($event-types);

.h-event {
  margin: size('gutter') 0;
}


// Summary
// -------

[data-module='calendar-summary'] {
  @include font-size('small');
}

[data-body='calendar-summary'] {
  margin: 0 auto;
  max-width: 100%;
  width: size('wide');

  @include above(40em) {
    align-items: stretch;
    display: flex;
    justify-content: space-around;
  }
}

.calendar-group {
  padding: size('shim');

  @include above(40em) {
    flex: 0 1 auto;
    max-width: 33vw;
  }
}

.calendar-group-title {
  padding: 0 size('half-shim');
  text-transform: uppercase;
}

.calendar-group-item {
  list-style: none;
  overflow: hidden;
  padding: 0 size('half-shim');
  text-overflow: ellipsis;
  white-space: nowrap;

  .dt-start {
    font-style: italic;

    @include after(' » ') {
      font-style: normal;
    }
  }

  .p-name {
    display: inline;
  }
}

.calendar-group-action {
  @include after(' »');
  display: inline-block;
  font-style: italic;
  padding: size('half-shim');
}
