// Calendars
// =========

$event-types: (
  'performance',
  'speaking',
  'art',
  'publication',
  'album',
  'film',
  'software',
);

@include apply-filters($event-types);

.h-event {
  margin: size('gutter') * 2 0;
}

.description {
  font-style: italic;
}

// Summary
// -------

[data-module='summary'] {
  @include above('page') {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
  }
}

.calendar-group {
  margin: size('gutter') 0;

  @include above('page') {
    @include font-size('small');
    flex: 0 1 auto;
    margin: size('gutter');
  }
}

.calendar-group-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.calendar-group-action {
  @include after('»');
  display: inline-block;
  font-style: italic;
  margin: size('half-shim') 0;
}
