// Feature Styles
// ==============

.feature-with {
  @include font-size('small');
  font-style: italic;
  margin-bottom: size('shim');

  [href] {
    font-style: normal;
  }
}

.feature-actions {
  .btn {
    margin: 0 size('half-shim') size('half-shim') 0;
  }
}
