// Intro
// =====


[data-module='intro'] {
  margin: 0;
  max-width: 100%;
  padding: size('gutter') size('shim');
  transition: all 300ms;

  @include above(30em) {
    align-items: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-right: -15vmin;
  }
}


// Image
// -----
@keyframes draw-logo {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-logo {
  from {
    fill-opacity: 0;
  }

  to {
    fill-opacity: 1;
  }
}

@keyframes fade-logo-outline {
  to {
    stroke-width: 0;
  }
}

.intro-image {
  @include square(55vmin);
  animation: draw-logo 4s 1 ease-out both, fill-logo 4s 3s 1 ease-in-out both, fade-logo-outline 3s 3s 1 ease-in-out both;
  display: block;
  flex: 0 0 auto;
  margin: 0 auto size('shim');
  stroke: color('action');
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  stroke-width: 1;

  @include above(30em) {
    margin: 0;
    margin-left: -8vmin;
  }
}


// Body
// ----

.intro-body {
  max-width: size('block');

  @include above(30em) {
    padding: size('shim');
  }
}

.intro-title {
  @include h1;
}

.intro-action {
  margin-top: size('gutter');
}
