// Press
// =====

[data-module='interviews'],
[data-module='press'] {
  @include page;

  .p-summary {
    @include font-size('small');
    font-style: italic;

    [href] {
      font-style: normal;
    }
  }
}

.press-topic {
  margin-bottom: size('gutter') * 2;
}
