// RST
// ===


[data-module='rst'] {
  margin: 0 auto;
  max-width: size('page');
  padding-left: size('shim');
  padding-right: size('shim');

  p,
  ul,
  ol {
    margin: size('shim') 0;
  }

  @include below('page') {
    ol,
    ul {
      padding-left: 1em;
    }
  }
}


.title {
  @include font-size('large');
  @include page;
  font-style: italic;
}
