{% extends "layout.html" %}
{% block title %}Blog{% endblock %}
{% block body %}

  {%- for entry in pagination.get_slice() %}
  <article class="post">
    <h2>
      <a href="{{ link_to('page', slug=entry.slug) }}">
        {{ entry.title }}
      </a>
    </h2>

    {# @@@ include "_byline.html" #}

    <div class="body">
      {% if entry.summary %}
        {{ entry.render_summary() }}
      {% else %}
        {{ entry.render_contents() }}
      {% endif %}
    </div>
  </article>
  {%- endfor %}

  {% if show_pagination and pagination.pages > 1 %}
    {{ pagination }}
  {% endif %}
{% endblock %}
