{% extends "blog/archives.html" %}
{% import "blog/macros.j2" as blog %}

{% block location %}home{% endblock %}

{% block body %}
  {% if pagination.has_prev %}
    {{ blog.intro(title=pagination) }}
  {% else %}
    {% set page = all_pages|filter_pages('slug', 'eq', 'index')|get_page %}

    {{ blog.intro(
      title=page.title,
      summary=page.render_summary() if page.config.summary else none,
      hide_title=page.config.hide_title
    ) }}

    {{ blog.hero(
      image=page.config.image[0] if page.config.image else none
    ) }}

    {{ blog.render(
      byline=blog.byline(page) if page.pub_date else none,
      fragment=page.render_contents(),
      config=page.config
    ) }}
  {% endif %}

  {% set section_title = 'More' if pagination.has_prev else 'Recent' %}

  {{ blog.section(
    entries=pagination.get_slice(),
    title='%s Articles…' % section_title
  ) }}

  {% if show_pagination and pagination.pages > 1 %}
    {{ pagination }}
  {% endif %}
{% endblock %}
