{% macro list(post) %}
<article data-module="blog-post">
  {% if post.title %}
    <h2>
      <a href="{{ link_to('page', slug=post.slug) }}">
        {{ post.title }}
      </a>
    </h2>
  {% endif %}

  {{ byline(post) }}

  {%- if post.config.image -%}
    {% set image = post.config.image[0] %}
    <div class="post-image" style="background-image: url(/static/pictures/{{ image.src }})"; {{ image.styles or '' }}></div>
  {%- endif -%}

  {% if post.summary %}
    {{ post.render_summary() }}
    <a href="{{ link_to('page', slug=post.slug) }}" class="more-link">
      read more »
    </a>
  {% else %}
    {{ post.render_contents() }}
  {% endif %}
</article>
{% endmacro %}

{% macro byline(post) %}
<div class="byline">
  {{ pubdate(post.pub_date) }}
  {# tags(post.tags) #}
</div>
{% endmacro %}

{% macro pubdate(pub_date) %}
  {% if pub_date %}
    {% if pub_date %}
    <time datetime="{{ pub_date.isoformat() }}" pubdate="pubdate">
      {{ pub_date.strftime("%B %d, %Y") }}
    </time>
    {% endif %}
  {% endif %}
{% endmacro %}

{% macro tags(taglist) %}
  {% if taglist %}
    in
    <span class="tags">
      {% for tag in taglist|sort(case_sensitive=true) %}
        {%- if not loop.first %}, {% endif -%}
        <a href="{{ link_to('tag', tag=tag) }}" rel="tag">{{ tag }}</a>
      {%- endfor %}
    </span>
  {% endif %}
{% endmacro %}
