{% import "utility.macros.j2" as utility %}
{% import "icon.macros.j2" as icon %}


{% macro recent_posts(
  title="Recent Articles",
  count=5
) %}
  {% set entries = get_some_recent_blog_entries(count) %}

  {% if entries|length %}
    {{ section(
      entries=entries,
      title=title
    ) }}
  {% endif %}
{% endmacro %}


{% macro section(
  entries,
  title=none
) %}
  <section class="post-list" data-grid="full" data-align="full">
    {% if title %}
      <h2 class="post-section-title">
        <span>{{ title|typogrify }}</span>
      </h2>
    {% endif %}

    {% for entry in entries %}
      {{ list(entry) }}
    {% endfor %}
  </section>
{% endmacro %}


{% macro list(post) %}
  <h2 class="post-title" data-align="center">
    <a href="{{ link_to('page', slug=post.slug) }}">
      {{ post.title|typogrify }}
    </a>
  </h2>

  {{ byline(post) }}

  <div class="post-summary" data-align="center">
    {{ post.render_summary()|typogrify }}
  </div>
{% endmacro %}


{% macro byline(post) %}
<div class="byline">
  {{ pubdate(post.pub_date) }}

  {% set series = post.config.series %}
  {% set away = post.config.elsewhere[0] if post.config.elsewhere else none %}

  {% if series %}
    {% set series_url = ['/tags/', series|urlencode, '/']|join %}
    {% set series_page = post.config.series_pages|selectattr('title', 'equalto', series)|list %}
    {% set series_url = series_page[0].url if series_page[0] else series_url %}
    <span class="meta-in">
      <i>in</i>
      {{ utility.link_if(series|typogrify, series_url) }}
    </span>
  {% endif %}


  {% if away %}
    <span class="meta-see">
      <i>on</i>
      {{ utility.link_if(away.src|typogrify, away.url) }}
    </span>
  {% endif %}
</div>
{% endmacro %}


{% macro pubdate(pub_date) %}
  {% if pub_date %}
    {% if pub_date %}
    <time datetime="{{ pub_date.isoformat() }}" pubdate="pubdate">
      {{ pub_date.strftime("%B %d, %Y") }}
    </time>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro tags(taglist) %}
  {% if taglist %}
    in
    <span class="tags">
      {% for tag in taglist|sort(case_sensitive=true) %}
        {%- if not loop.first %}, {% endif -%}
        <a href="{{ link_to('tag', tag=tag) }}" rel="tag">{{ tag }}</a>
      {%- endfor %}
    </span>
  {% endif %}
{% endmacro %}
