{% import "modules/event.macros.j2" as calendar %}

{% set events = config.past if module.time == 'past' else config.future %}

{% if events %}
<section class="module" data-calendar="{{ module.time }}">
<div class="container">
  <h3 class="section-title">the {{ module.time }}</h3>

  {% for event in events %}
    {{ calendar.show(event) }}
  {% endfor %}
</div>
</section>
{% endif %}
