{% import 'utility.macros.j2' as utility %}
{% import 'gallery/macros.html.j2' as gallery %}

{% set events = config.past|selectattr('gallery') %}

{% if events %}
  <section data-module="calendar">
    <h2 class="section-title">
      {{ module.title or 'Project Gallery' }}
    </h2>

    <div data-gallery="projects">
      {% for event in events %}
        {% set feature = event.gallery[0] %}
        <a href="{{ event.url }}" class="gallery-project{% if feature.video %} video{% elif feature.image %} image{% endif %}" {% if feature.image %}style="background-image: url(/static/pictures/{{ feature.image|safe }})"{% endif %}>
          {% if feature.image %}
            <strong class="gallery-project-name">{{ event.name }}</strong>
          {% endif %}

          {% if feature.video %}
            <div class="video-wrap">
              {{ item.video|safe }}
            </div>
          {% endif %}
        </a>
      {% endfor %}
    </div>
  </section>
{% endif %}
