{% for feature in config.feature %}
<section class="feature module" style="background-image: url('/static/pictures/{{ feature.image }}')">
<div class="container">
  <h2 class="feature-title">
    <a href="{{ feature.url }}">{{ feature.name }}</a>
  </h2>
  <p class="feature-summary">{{ feature.summary|safe }}</p>
</div>
</section>
{% endfor %}
