{% if config.interviews %}
<section class="section interviews">
<div class="container">
  <h1 class="section-title">Interviews</h1>

  <ul class="interview-list">
    {% for item in config.interviews %}
      <li class="interview">
        <h2 class="interview-title">
          <a href="{{ item.url }}">{{ item.title }}</a>
        </h2>
        <p class="citation">
          {{ item.credit }},
          {{ item.source }}
          <time datetime="{{ item.datetime }}" class="pubdate">[{{ item.date }}]</time>
        </p>
      </li>
    {% endfor %}
  </ul>
</div>
</section>
{% endif %}
