{% include 'layout/_face.svg' %}
{% set intro = config.intro[0] %}


<section data-module='intro'>
  <svg class="intro-image" data-svg="face"><use xlink:href="#face" /></svg>

  <div class="intro-body">
    <h2 class="intro-title">{{ intro.tagline }}</h2>
    <p class="intro-text">
      {{ intro.text|safe }}
    </p>
  </div>

</section>
