{% import "modules/event.macros.j2" as events %}

{% if config.interviews %}
<section data-module="interviews">
  <h2 class="section-title">Interviews</h2>

  {% for interview in config.interviews %}
    {{ events.show(interview) }}
  {% endfor %}
</section>
{% endif %}
