{% set intro = config.intro[0] %}

<section data-module="intro">
  <input type="checkbox" id="intro-toggle">
  <h2 class="intro-tagline">
    {{ intro.tagline|safe }}
  </h2>
  <p data-intro="💩">
    {{ intro.long|safe }}
  </p>
  <p data-intro="💅">
    {{ intro.short|safe }}
  </p>
  <label for="intro-toggle" class="btn">argle-bargle</label>
  <a href="/why/">read my manifesto</a>
</section>
