<section data-module="sidesaddle">
<div class="container">
  <h2 class="section-title">
    <a href="ridingsidesaddle.com">
      <span>
        Riding SideSaddle*
      </span>
    </a>
  </h2>
  <p>
    <span>
      <i>a novel</i> |
      by <b>Miriam Eric Suzanne</b>
    </span>
  </p>
  <p>
    <span>
      This fragmented memory follows a cast of friends
      as they navigate fluid genders and relationships,
      with bodies that resist order, category, or completion.
    </span>
  </p>
  <a href="http://www.springgunpress.com/riding-sidesaddle-miriam-suzanne/" class="btn">
    <span>Order now</span>
  </a>
  <a href="http://oddbooksapp.com/book/ridingsidesaddle" class="btn">
    <span>Read it online</span>
  </a>
</div>
</section>
