{% import "modules/macros.j2" as mod %}
{% import "modules/org.macros.j2" as organization %}


{% set type = 'feature' if (module.type == 'feature') else 'list' %}
{% set orgs = config.feature_orgs if (type == 'feature') else config.orgs %}


{% if orgs %}
  {% call mod.section(
    title=module.title or 'Co-Belligerents',
    slug=['orgs', type]|join('-')
  ) %}

    {% for org in orgs %}
      {% if type == 'feature' %}
        {{ organization.feature(org) }}
      {% else %}
        {{ organization.list(org) }}
      {% endif %}
    {% endfor %}

  {% endcall %}
{% endif %}
