{% import "modules/utility.macros.j2" as utility %}

{% set type = 'feature' if (module.type == 'feature') else 'list' %}
{% set orgs = config.feature_orgs if (type == 'feature') else config.orgs %}

{% macro list(org) %}
<div class="org h-card">
  <h3 class="p-name">
    {{ utility.link(org.name, org.url, 'u-url') }}
  </h3>
  <div class="summary">
    <span class="dt-start">{{ org.date }}</span>
    <strong class="role">{{ org.role }}</strong>
    <span class="p-category">{{ org.type }}</span>
  </div>
</div>
{% endmacro %}


{% macro feature(org) %}
<div class="feature-org">
  <h3>{{ org.title }}</h3>

  <p>
    {{ org.summary|safe }}
  </p>

  {% for review in org.press %}
    <blockquote class="feature-quote">
      <p>{{ review.quote }}</p>
      <cite>
        —{{ review.credit }},
        {{ utility.link(review.source, review.url) }}
      </cite>
    </blockquote>
  {% endfor %}

  <div class="feature-actions">
    {% for action in org.actions %}
      {{ utility.link(
        content=action.text,
        url=action.url,
        class='btn' if loop.first else none
      ) }}
    {% endfor %}
  </div>

</div>
{% endmacro %}


{% if orgs %}
<section data-module="orgs-{{ type }}">
  <h2 class="section-title {% if module.hide_title %}is-hidden{% endif %}">
    {{ module.title or 'Co-Belligerents'}}
  </h2>

  {% for org in orgs %}
    {% if type == 'feature' %}
      {{ feature(org) }}
    {% else %}
      {{ list(org) }}
    {% endif %}
  {% endfor %}
</section>
{% endif %}
