{% import "modules/utility.macros.j2" as utility %}

{% if config.press %}
<section class="press module">
<div class="container">
  <h2 class="section-title">Press</h2>

  {% for item in config.press %}
    <div class="press-topic">
      <h3 class="topic-title">
        {{ utility.link(item.subject, item.url) }}
      </h3>

      {% for review in item.reviews %}
        <blockquote class="clipping">
          <span class="quote">{{ review.quote|safe }}</span>

          <span class="citation">
            {{ review.credit }},

            <strong class="source">
              {{ utility.link(review.source, review.url) }}
            </strong>

            <time datetime="{{ review.datetime }}" class="pubdate">[{{ review.date }}]</time>
          </span>
        </blockquote>
      {% endfor %}

    </div>
  {% endfor %}
</div>
</section>
{% endif %}
