{% import "modules/utility.macros.j2" as utility %}

{% if config.press %}
<section class="press module">
<div class="container">
  <h2 class="section-title">Press</h2>

  {% for item in config.press %}
    <div class="clipping">
      <h3 class="clipping-title">
        <strong class="source">
          {{ utility.link(item.source, item.url) }}:
        </strong>
        <span class="subject">
          {{ utility.link(item.subject.name, item.subject.url) }}
        </span>
      </h3>

      <blockquote class="quote">
        {{ item.quote|safe }}

        <span class="citation">
          {{ item.credit }}
          <time datetime="{{ item.datetime }}" class="pubdate">[{{ item.date }}]</time>
        </span>
      </blockquote>

    </div>
  {% endfor %}
</div>
</section>
{% endif %}
