{% import "utility.macros.j2" as utility %}
{% import "modules/macros.j2" as mod %}
{% import "modules/event.macros.j2" as calendar %}


{% call mod.section(
  slug='calendar-summary'
) %}

  {% set posts = get_recent_blog_entries(module.post_count or 5) %}
  {% set events = config.future %}
  {% set types = config.summary_types[0] %}


  {% if posts %}
    {% call calendar.summary_group(types.blog) %}
      {% for post in posts %}
        {{ calendar.summary_item(
          title=post.title,
          url=link_to('page', slug=post.slug),
          datetime=[post.pub_date.strftime('%Y'), post.pub_date.strftime('%m'), post.pub_date.strftime('%d')]
        ) }}
      {% endfor %}
    {% endcall %}
  {% endif %}


  {% if events %}
    {% for group in events|groupby('type') %}
      {% call calendar.summary_group(types[group.grouper]) %}
        {% for event in group.list %}
          {{ calendar.summary_item(event.name, event.url, event.datetime) }}
        {% endfor %}
      {% endcall %}
    {% endfor %}
  {% endif %}

{% endcall %}
