{% import "modules/utility.macros.j2" as utility %}



{# Full Event #}
{# ---------- #}

{% macro show(event) %}
  <article class="h-event">
    {{ head(event) }}
    {{ meta(event) }}
    {{ details(event) }}
  </article>
{% endmacro %}



{# Event Blocks #}
{# ------------ #}

{% macro head(event) %}
<header class="event-header">
  {{ time(event.date, event.datetime) }}
  {{ name(event.name, event.url) }}
</header>
{% endmacro %}

{% macro meta(event) %}
<div class="event-meta">
  {{ organization(event.org) }}
  {{ role(event.role) }}
  {{ location(event.venue) }}
</div>
{% endmacro %}

{% macro details(event) %}
<div class="event-details">
  {{ summary(event.summary, event.with) }}
  {{ notes(event.notes) }}
</div>
{% endmacro %}



{# Event Elements #}
{# -------------- #}

{% macro name(title, url) %}
<h3 class="p-name">
  {{ utility.link(title, url, class='u-url') }}
</h3>
{% endmacro %}

{% macro time(date, datetime) %}
{% if date %}
  <time class="dt-start" {% if datetime %}datetime="{{ datetime }}"{% endif %}>
    {{ date }}
  </time>
{% endif %}
{% endmacro %}


{% macro location(venue) %}
{% if venue %}
  at
  <span class="p-location">
    {{ utility.link(venue.name, venue.url) }}{%- if venue.adr -%}, {{ venue.adr }}{% endif %}
  </span>
{% endif %}
{% endmacro %}

{% macro organization(org) %}
{% if org %}
  <strong class="org">
    {{ utility.link(org.name, org.url) }}
  </strong>
{% endif %}
{% endmacro %}

{% macro role(title) %}
{% if title %}
  <span class="role">
    {{ title }}
  </span>
{% endif %}
{% endmacro %}


{% macro summary(content, with) %}
{% if content or with %}
  <div class="p-summary">
    <span class="summary">{{ content|safe }}</span>
    {{ collaborators(with) }}
  </div>
{% endif %}
{% endmacro %}

{% macro collaborators(with) %}
{% if with %}
  with
  <span class="with">
    {% for org in with %}
      {% set after='' if (loop.last or loop.length == 2) else ',' %}
      {% if loop.last and loop.index > 1 %}and{% endif %}
      {{ utility.link(org.name, org.url) }}{{ after }}
    {% endfor %}
  </span>
{% endif %}
{% endmacro %}

{% macro notes(content) %}
{% if content %}
<ul class="notes">
  {% for note in content %}
    <li>{{ utility.link(note.name, note.url) }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}
