{% import "utility.macros.j2" as utility %}



{# Full Event #}
{# ---------- #}

{% macro show(event) %}
  <article class='h-event' {{ utility.attr_if('data-filters', event.type|join(' ')) }}>
    {{ head(event) }}
    {{ body(event) }}
    {{ details(event) }}
  </article>
{% endmacro %}



{# Event Blocks #}
{# ------------ #}

{% macro head(event) %}
<header class="event-header">
  {{ utility.time(event.datetime) }}
  {{ name(event.name, event.url) }}
  {{ summary(event.summary) }}
</header>
{% endmacro %}

{% macro body(event, show_location=true) %}
<div class="p-summary">
  {{ role(event.role) }}
  {{ organization(event.org, 'for') }}
  {{ with(event.with, 'with') }}
  {% if show_location %}
    {{ location(event.venue, 'at') }}
  {% endif %}
</div>
{% endmacro %}

{% macro details(event) %}
  {{ notes(event.notes) }}
  {{ press(event.press) }}
{% endmacro %}



{# Event Elements #}
{# -------------- #}

{% macro name(title, url) %}
<h3 class="p-name">
  {{ utility.link(title, url, class='u-url') }}
</h3>
{% endmacro %}

{% macro location(venue, before=none) %}
{% if venue and venue|length() == 1 %}
  {{ before }}
  {% for instance in venue %}
    <span class="p-location">
      {{ utility.link(instance.name, instance.url) }}{%- if instance.adr -%}, {{ instance.adr }}{% endif %}
      {% if instance.video %}
        ({{ utility.link('video', instance.video) }})
      {% endif %}
    </span>
  {% endfor %}
{% elif venue %}
  {{ before }}...
  <ul class="instances">
    {% for instance in venue %}
      <li class="p-location">
        {{ utility.link(instance.name, instance.url) }}
        {%- if instance.adr %}, {{ instance.adr }}{% endif %}
        {% if instance.video %}
          ({{ utility.link('video', instance.video) }})
        {% endif %}
        —{{ utility.time(instance.datetime) }}
      </li>
    {% endfor %}
  </ul>
{% endif %}
{% endmacro %}

{% macro organization(org, before=none) %}
{% if org %}
  {{ before }}
  <span class="org">
    {% if org.contact %}
      {{ org.contact }},
    {% endif %}
    {{ utility.link(org.name, org.url) }}
  </span>
{% endif %}
{% endmacro %}

{% macro role(title) %}
{% if title %}
  <span class="role">
    {{ title|safe }}
  </span>
{% endif %}
{% endmacro %}


{% macro summary(content) %}
{% if content %}
  <span class="description">{{ content|safe }}</span>
{% endif %}
{% endmacro %}

{% macro with(collaborators, before=none) %}
{% if collaborators %}
  {{ before }}
  <span class="with">
    {% for who in collaborators %}
      {% set after='' if (loop.last or loop.length == 2) else ',' %}
      {% if loop.last and loop.index > 1 %}and{% endif %}
      {{ utility.link(who.name, who.url) }}{{ after }}
    {% endfor %}
  </span>
{% endif %}
{% endmacro %}

{% macro citation(clipping) %}
  <cite class="citation">—{{ clipping.credit }},

    <span class="source">
      {{ utility.link(clipping.source or clipping.name, clipping.url) }}
    </span>

    {% if clipping.source and clipping.name %}
      <i class="title">“{{ clipping.name }}”</i>
    {% endif %}

    {% if clipping.datetime %}
      {{ utility.time(clipping.datetime, {'pubdate': true}) }}
    {% endif %}
  </cite>
{% endmacro %}

{% macro press(articles, show_noquote=true) %}
{% set has_quote = articles|selectattr('quote') %}
{% set no_quote = articles|rejectattr('quote') %}

{% for clipping in has_quote %}
  {% if clipping.quote %}
    <blockquote class="clipping">
      <p class="quote">{{ clipping.quote|safe }}</p>
      {{ citation(clipping) }}
    </blockquote>
  {% endif %}
{% endfor %}

{% if no_quote.items and show_noquote %}
<ul class="press-list">
  {% for item in no_quote %}
    <li class="press-link">
      <span class="source">
        {{ utility.link(item.source or item.name, item.url) }}
      </span>

      {% if item.source and item.name %}
        <i class="title">“{{ item.name }}”</i>
      {% endif %}

      — {{ item.credit }}

      {% if item.datetime %}
        {{ utility.time(item.datetime, {'pubdate': true}) }}
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}

{% macro notes(content) %}
{% if content %}
<ul class="notes">
  {% for note in content %}
    <li>{{ utility.link(note.name, note.url) }}</li>
  {% endfor %}
</ul>
{% endif %}
{% endmacro %}


{# Event Summary #}
{% macro summary_item(title, url, datetime) %}
  <li class="calendar-group-item">
    {{ utility.time(datetime, style='short') }}
    {{ name(title, url) }}
  </li>
{% endmacro %}

{% macro summary_group(type) %}
  <div class="calendar-group">
    <h2 class="calendar-group-title">
      {{ type.title }}
    </h2>
    <ul class="calendar-group-list">
      {{ caller() }}
    </ul>
    <a href="{{ type.url }}" class="calendar-group-action">
      {{ type.action }}
    </a>
  </div>
{% endmacro %}

