{% macro attr_if(attr, value=none) %}
  {%- if value == true -%}
    {{ attr }}
  {%- elif value -%}
    {{ attr }}="{{ value }}"
  {%- endif -%}
{% endmacro %}

{% macro show_attrs(attrs) %}
{%- for attr, value in attrs.items() %}{{ attr_if(attr, value) }}{% endfor -%}
{% endmacro %}

{% macro link(content, url=none, class=none) %}
{%- if url -%}
  <a href="{{ url }}" {% if class %}class="{{ class }}"{% endif %}>{{ content|safe }}</a>
{%- else -%}
  {{ content|safe }}
{%- endif -%}
{% endmacro %}

{% macro time(datetime, attrs={'class':'dt-start'}) %}
{% set months = {
  '01': 'January',
  '02': 'February',
  '03': 'March',
  '04': 'April',
  '05': 'May',
  '06': 'June',
  '07': 'July',
  '08': 'August',
  '09': 'September',
  '10': 'October',
  '11': 'November',
  '12': 'December',
} %}

{% if datetime %}
  {% set year = datetime[0] %}
  {% set month = datetime[1] %}
  {% set day = datetime[2] %}
  {% set iso = [year, month or '01', day or '01']|join('-') %}

  <time {{ show_attrs(attrs) }} {{ attr_if('datetime', iso) }}>
    {{ months[month] or '' }}
    {% if day %}{{ day }},{% endif %}
    {{ year }}
  </time>
{% endif %}
{% endmacro %}
