// Initial Type
// ============


a {
  #{$link} {
    color: var(--action);
    cursor: pointer;
    outline: none;
    text-decoration: underline;
    text-decoration-color: var(--action-light);
    text-decoration-skip: ink;
    transition: color 350ms, text-decoration-color 300ms;
  }

  #{$focus} {
    color: var(--action-hover);
    text-decoration-color: currentColor;
  }
}


svg {
  fill: currentColor;
}


p,
ul,
ol,
dl {
  &:not(:last-child) {
    margin-bottom: var(--gutter);
  }
}

ul,
ol {
  & & {
    margin-left: var(--gutter);
  }
}


abbr[title] {
  border: 0;
  text-decoration: underline dotted;
}


.amp {
  @include font-family('amp');
  font-style: italic;
  font-weight: normal;
}


.is-hidden {
  @include is-hidden;
}
