@charset "UTF-8";
html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%; }

main {
  display: block; }

details {
  display: block; }

pre {
  overflow: auto; }

progress {
  display: inline-block; }

summary {
  display: block; }

template {
  display: none; }

*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

audio :not([controls]) {
  display: none; }

[aria-busy='true'] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

[hidden] {
  display: none; }

button {
  overflow: visible; }

input {
  border-radius: 0;
  line-height: normal; }

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  cursor: pointer; }
  button::-moz-focus-inner,
  [type='button']::-moz-focus-inner,
  [type='reset']::-moz-focus-inner,
  [type='submit']::-moz-focus-inner {
    border: 0 none !important;
    padding: 0 !important; }

[type='checkbox'],
[type='radio'] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0; }

[type='number'] {
  width: auto; }

[type='search'] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield; }

button,
input,
select,
textarea {
  background-color: transparent;
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit; }

textarea {
  overflow: auto;
  resize: vertical; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

audio,
canvas,
iframe,
img,
svg,
video {
  max-width: 100%;
  vertical-align: middle; }

a {
  background-color: transparent; }
  a:active, a:hover {
    outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: inherit; }

dfn {
  font-style: italic; }

nav ol,
nav ul {
  list-style: none; }

small {
  font-size: 0.75em; }

sub,
sup {
  font-size: 0.75em;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

:root {
  font-family: "freight-text-pro", Baskerville, Palatino, Cambria, Georgia, serif;
  color: #173c48;
  font-size: 24px;
  font-size: calc(100% + 0.675vw); }

body {
  line-height: 1.4; }

a:link, a:visited {
  color: #e60073;
  outline: none;
  text-decoration: none; }

a:focus, a:hover, a:active {
  color: #ac0056;
  text-decoration: underline;
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink; }

svg {
  fill: currentColor; }

p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child),
dl:not(:last-child) {
  margin-bottom: 0.7rem; }

body {
  display: grid;
  grid-template-areas: 'header header header header header' 'nav   nav   nav   nav   nav' 'main   main   main   main   main' '...... ...... footer ...... ......';
  grid-template-columns: minmax(0.7rem, 1fr) minmax(0, 1fr) minmax(0, 28rem) minmax(0, 1fr) minmax(0.7rem, 1fr);
  grid-template-rows: minmax(16.8rem, calc(100vmin - 2.8rem)) repeat(3, auto);
  max-width: 100vw; }

[data-layout='header'] {
  grid-area: header; }

[data-layout='nav'] {
  grid-area: nav;
  position: relative;
  z-index: 1; }

[data-layout='main'] {
  grid-area: main; }

[data-layout='footer'] {
  grid-area: footer; }

[data-layout='hero'] {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  pointer-events: none;
  position: relative; }
  [data-layout='hero']::after {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-image: linear-gradient(10deg, rgba(230, 0, 115, 0.25), rgba(230, 0, 115, 0) 35%); }
  [data-layout='hero'] svg,
  [data-layout='hero'] img {
    height: 100%;
    max-width: initial;
    width: auto; }

@-webkit-keyframes draw-logo {
  to {
    stroke-dashoffset: 0; } }

@keyframes draw-logo {
  to {
    stroke-dashoffset: 0; } }

@-webkit-keyframes fill-logo {
  from {
    fill-opacity: 0; }
  to {
    fill-opacity: 1; } }

@keyframes fill-logo {
  from {
    fill-opacity: 0; }
  to {
    fill-opacity: 1; } }

@-webkit-keyframes fade-logo-outline {
  to {
    stroke-width: 0; } }

@keyframes fade-logo-outline {
  to {
    stroke-width: 0; } }

.face {
  padding: 0.7rem; }
  [data-location='home'] .face {
    -webkit-animation: draw-logo 5s 1 ease-out both, fill-logo 4s 3s 1 ease-in-out both, fade-logo-outline 3s 3s 1 ease-in-out both;
    animation: draw-logo 5s 1 ease-out both, fill-logo 4s 3s 1 ease-in-out both, fade-logo-outline 3s 3s 1 ease-in-out both;
    stroke: #e60073;
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    stroke-width: 1; }

[data-layout='header'] {
  display: grid;
  grid-template-columns: minmax(0.7rem, 1fr) minmax(0, 1fr) minmax(0, 28rem) minmax(0, 1fr) minmax(0.7rem, 1fr);
  grid-template-rows: minmax(0, 1fr) auto; }

[data-layout='fancy'] {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  z-index: 1; }

[data-layout='hero'] {
  grid-column: 1 / -2;
  grid-row: 1 / -1;
  overflow: hidden; }

[data-layout='title'] {
  background: #fff;
  -webkit-clip-path: polygon(1.4rem 0, 100% 0, 100% 100%, 0 100%, 0 1.4rem);
  clip-path: polygon(1.4rem 0, 100% 0, 100% 100%, 0 100%, 0 1.4rem);
  grid-column: 3 / -1;
  grid-row: -2 / -1;
  line-height: 1.2;
  margin-left: -1.05rem;
  padding: 0.7rem 0 0.7rem 1.05rem;
  position: relative;
  z-index: 1; }

.page-title {
  color: #ac0056;
  font-size: calc(2rem + 1.5vw); }

.page-tagline {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
  font-weight: normal; }
  .page-tagline a:only-child {
    color: inherit; }

[data-layout='nav'] {
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  display: grid;
  font-size: 0.71429rem;
  grid-template-columns: minmax(0.7rem, 1fr) minmax(0, 1fr) minmax(0, 28rem) minmax(0, 1fr) minmax(0.7rem, 1fr);
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  z-index: 500; }
  [data-layout='nav']::before {
    content: "";
    left: 0;
    position: absolute;
    right: 0;
    top: -1px;
    border-top: 1px solid #b3c9d0;
    grid-column: 1 / 5; }
  [data-layout='nav']::after {
    content: "";
    bottom: -1px;
    left: 0;
    position: absolute;
    right: 0;
    border-bottom: 1px solid #b3c9d0;
    grid-column: 2 / -1; }

.nav-inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-column: 3 / span 1;
  margin-left: -0.7rem;
  max-width: 28rem;
  position: relative; }
  .nav-inner::before, .nav-inner::after {
    content: "";
    position: absolute;
    right: 0;
    top: -1px;
    height: 0.35rem;
    width: 0.35rem;
    background: #fff;
    border: 1px solid #b3c9d0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-transform: translate3d(50%, -50%, 0) rotate(45deg);
    transform: translate3d(50%, -50%, 0) rotate(45deg);
    z-index: 2; }
  .nav-inner::before {
    border-color: #fff;
    top: -2px; }

[data-nav]:link, [data-nav]:visited {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-weight: bold;
  padding: 0.35rem 0.7rem; }

[data-location='home'] [data-nav='home'] {
  color: #173c48;
  position: relative; }
  [data-location='home'] [data-nav='home']::before, [data-location='home'] [data-nav='home']::after {
    content: "";
    bottom: -1px;
    left: 50%;
    position: absolute;
    height: 0.35rem;
    width: 0.35rem;
    background: #fff;
    border: 1px solid #b3c9d0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    z-index: 2; }
  [data-location='home'] [data-nav='home']::before {
    border-color: #fff;
    bottom: -2px; }

[data-location='writing'] [data-nav='writing'] {
  color: #173c48;
  position: relative; }
  [data-location='writing'] [data-nav='writing']::before, [data-location='writing'] [data-nav='writing']::after {
    content: "";
    bottom: -1px;
    left: 50%;
    position: absolute;
    height: 0.35rem;
    width: 0.35rem;
    background: #fff;
    border: 1px solid #b3c9d0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    z-index: 2; }
  [data-location='writing'] [data-nav='writing']::before {
    border-color: #fff;
    bottom: -2px; }

[data-location='speaking'] [data-nav='speaking'] {
  color: #173c48;
  position: relative; }
  [data-location='speaking'] [data-nav='speaking']::before, [data-location='speaking'] [data-nav='speaking']::after {
    content: "";
    bottom: -1px;
    left: 50%;
    position: absolute;
    height: 0.35rem;
    width: 0.35rem;
    background: #fff;
    border: 1px solid #b3c9d0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    z-index: 2; }
  [data-location='speaking'] [data-nav='speaking']::before {
    border-color: #fff;
    bottom: -2px; }

[data-location='code'] [data-nav='code'] {
  color: #173c48;
  position: relative; }
  [data-location='code'] [data-nav='code']::before, [data-location='code'] [data-nav='code']::after {
    content: "";
    bottom: -1px;
    left: 50%;
    position: absolute;
    height: 0.35rem;
    width: 0.35rem;
    background: #fff;
    border: 1px solid #b3c9d0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    z-index: 2; }
  [data-location='code'] [data-nav='code']::before {
    border-color: #fff;
    bottom: -2px; }

[data-location='art'] [data-nav='art'] {
  color: #173c48;
  position: relative; }
  [data-location='art'] [data-nav='art']::before, [data-location='art'] [data-nav='art']::after {
    content: "";
    bottom: -1px;
    left: 50%;
    position: absolute;
    height: 0.35rem;
    width: 0.35rem;
    background: #fff;
    border: 1px solid #b3c9d0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    z-index: 2; }
  [data-location='art'] [data-nav='art']::before {
    border-color: #fff;
    bottom: -2px; }

[data-location='contact'] [data-nav='contact'] {
  color: #173c48;
  position: relative; }
  [data-location='contact'] [data-nav='contact']::before, [data-location='contact'] [data-nav='contact']::after {
    content: "";
    bottom: -1px;
    left: 50%;
    position: absolute;
    height: 0.35rem;
    width: 0.35rem;
    background: #fff;
    border: 1px solid #b3c9d0;
    -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
    -webkit-transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    transform: translate3d(-50%, 50%, 0) rotate(-135deg);
    z-index: 2; }
  [data-location='contact'] [data-nav='contact']::before {
    border-color: #fff;
    bottom: -2px; }

[data-layout='main'],
[data-wrap='rst'] {
  display: grid;
  grid-template-areas: '... ... contents ... ...';
  grid-template-columns: minmax(0.7rem, 1fr) minmax(0, 1fr) minmax(0, 28rem) minmax(0, 1fr) minmax(0.7rem, 1fr); }

[data-grid],
[data-wrap='rst'] {
  grid-column: 1 / -1; }

[data-wrap='rst'] {
  margin-bottom: 2.8rem; }
  [data-wrap='rst'] > *:not([id*='intro']) {
    grid-column: 3 / span 1; }

[data-module] {
  grid-column: 3 / span 1;
  margin: 1.4rem 0; }

[data-layout='footer'] {
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px dotted #b3c9d0;
  font-size: 0.71429rem;
  margin: 0 0 4.2rem -0.7rem;
  padding: 0.7rem; }

@-webkit-keyframes blip {
  62%,
  68% {
    opacity: 0; }
  65% {
    opacity: 0.25; } }

@keyframes blip {
  62%,
  68% {
    opacity: 0; }
  65% {
    opacity: 0.25; } }

[data-layout='fancy'] {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(15, minmax(0, 1fr));
  grid-template-rows: repeat(14, minmax(0, 1fr));
  overflow: hidden; }

[data-fancy] {
  -webkit-animation: blip 90s infinite both ease;
  animation: blip 90s infinite both ease;
  background-color: #e60073;
  background-image: -webkit-gradient(linear, left top, right bottom, from(rgba(255, 255, 255, 0.96)), to(rgba(255, 255, 255, 0)));
  background-image: linear-gradient(to bottom right, rgba(255, 255, 255, 0.96), rgba(255, 255, 255, 0));
  opacity: 0; }
  [data-fancy]:hover {
    opacity: 1; }

[data-fancy='0'] {
  -webkit-animation-delay: -83s;
  animation-delay: -83s;
  background-color: #e6b400; }

[data-fancy='1'] {
  -webkit-animation-delay: -51s;
  animation-delay: -51s;
  background-color: #e60800; }

[data-fancy='2'] {
  -webkit-animation-delay: -37s;
  animation-delay: -37s;
  background-color: #e6e600; }

[data-fancy='3'] {
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
  background-color: #00e61f; }

[data-fancy='4'] {
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  background-color: #bf00e6; }

[data-fancy='5'] {
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
  background-color: #0000e6; }

[data-fancy='6'] {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
  background-color: #00e67e; }

[data-fancy='7'] {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  background-color: #e64100; }

[data-fancy='8'] {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  background-color: #8ee600; }

[data-fancy='9'] {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  background-color: #7ee600; }

[data-fancy='10'] {
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
  background-color: #5c00e6; }

[data-fancy='11'] {
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
  background-color: #1be600; }

[data-fancy='12'] {
  -webkit-animation-delay: -70s;
  animation-delay: -70s;
  background-color: #00c3e6; }

[data-fancy='13'] {
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  background-color: #63e600; }

[data-fancy='14'] {
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  background-color: #e6d600; }

[data-fancy='15'] {
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
  background-color: #99e600; }

[data-fancy='16'] {
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
  background-color: #e67e00; }

[data-fancy='17'] {
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  background-color: #00e695; }

[data-fancy='18'] {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  background-color: #e60050; }

[data-fancy='19'] {
  -webkit-animation-delay: -44s;
  animation-delay: -44s;
  background-color: #e600c7; }

[data-fancy='20'] {
  -webkit-animation-delay: -65s;
  animation-delay: -65s;
  background-color: #e61f00; }

[data-fancy='21'] {
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  background-color: #002ae6; }

[data-fancy='22'] {
  -webkit-animation-delay: -70s;
  animation-delay: -70s;
  background-color: #3900e6; }

[data-fancy='23'] {
  -webkit-animation-delay: -67s;
  animation-delay: -67s;
  background-color: #00e604; }

[data-fancy='24'] {
  -webkit-animation-delay: -70s;
  animation-delay: -70s;
  background-color: #9d00e6; }

[data-fancy='25'] {
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
  background-color: #e6005c; }

[data-fancy='26'] {
  -webkit-animation-delay: -41s;
  animation-delay: -41s;
  background-color: #00dee6; }

[data-fancy='27'] {
  -webkit-animation-delay: -62s;
  animation-delay: -62s;
  background-color: #00e641; }

[data-fancy='28'] {
  -webkit-animation-delay: -46s;
  animation-delay: -46s;
  background-color: #4d00e6; }

[data-fancy='29'] {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  background-color: #00e613; }

[data-fancy='30'] {
  -webkit-animation-delay: -65s;
  animation-delay: -65s;
  background-color: #de00e6; }

[data-fancy='31'] {
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
  background-color: #e600bb; }

[data-fancy='32'] {
  -webkit-animation-delay: -86s;
  animation-delay: -86s;
  background-color: #e60091; }

[data-fancy='33'] {
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
  background-color: #00e68e; }

[data-fancy='34'] {
  -webkit-animation-delay: -45s;
  animation-delay: -45s;
  background-color: #00bfe6; }

[data-fancy='35'] {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  background-color: #e62600; }

[data-fancy='36'] {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  background-color: #a400e6; }

[data-fancy='37'] {
  -webkit-animation-delay: -41s;
  animation-delay: -41s;
  background-color: #e64900; }

[data-fancy='38'] {
  -webkit-animation-delay: -64s;
  animation-delay: -64s;
  background-color: #00e658; }

[data-fancy='39'] {
  -webkit-animation-delay: -59s;
  animation-delay: -59s;
  background-color: #e60067; }

[data-fancy='40'] {
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
  background-color: #e60077; }

[data-fancy='41'] {
  -webkit-animation-delay: -63s;
  animation-delay: -63s;
  background-color: #0022e6; }

[data-fancy='42'] {
  -webkit-animation-delay: -76s;
  animation-delay: -76s;
  background-color: #00e6da; }

[data-fancy='43'] {
  -webkit-animation-delay: -50s;
  animation-delay: -50s;
  background-color: #bb00e6; }

[data-fancy='44'] {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  background-color: #0054e6; }

[data-fancy='45'] {
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
  background-color: #00e641; }

[data-fancy='46'] {
  -webkit-animation-delay: -14s;
  animation-delay: -14s;
  background-color: #6700e6; }

[data-fancy='47'] {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  background-color: #e600b0; }

[data-fancy='48'] {
  -webkit-animation-delay: -41s;
  animation-delay: -41s;
  background-color: #45e600; }

[data-fancy='49'] {
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
  background-color: #8200e6; }

[data-fancy='50'] {
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
  background-color: #00e641; }

[data-fancy='51'] {
  -webkit-animation-delay: -33s;
  animation-delay: -33s;
  background-color: #41e600; }

[data-fancy='52'] {
  -webkit-animation-delay: -64s;
  animation-delay: -64s;
  background-color: #e63600; }

[data-fancy='53'] {
  -webkit-animation-delay: -63s;
  animation-delay: -63s;
  background-color: #a400e6; }

[data-fancy='54'] {
  -webkit-animation-delay: -47s;
  animation-delay: -47s;
  background-color: #0017e6; }

[data-fancy='55'] {
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
  background-color: #e600da; }

[data-fancy='56'] {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  background-color: #e69d00; }

[data-fancy='57'] {
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  background-color: #00e6b4; }

[data-fancy='58'] {
  -webkit-animation-delay: -84s;
  animation-delay: -84s;
  background-color: #e600a1; }

[data-fancy='59'] {
  -webkit-animation-delay: -44s;
  animation-delay: -44s;
  background-color: #8600e6; }

[data-fancy='60'] {
  -webkit-animation-delay: -17s;
  animation-delay: -17s;
  background-color: #e6b800; }

[data-fancy='61'] {
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
  background-color: #e66000; }

[data-fancy='62'] {
  -webkit-animation-delay: -78s;
  animation-delay: -78s;
  background-color: #e600a1; }

[data-fancy='63'] {
  -webkit-animation-delay: -37s;
  animation-delay: -37s;
  background-color: #e60b00; }

[data-fancy='64'] {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  background-color: #0091e6; }

[data-fancy='65'] {
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  background-color: #e60063; }

[data-fancy='66'] {
  -webkit-animation-delay: -64s;
  animation-delay: -64s;
  background-color: #e66000; }

[data-fancy='67'] {
  -webkit-animation-delay: -62s;
  animation-delay: -62s;
  background-color: #00c3e6; }

[data-fancy='68'] {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  background-color: #00e6de; }

[data-fancy='69'] {
  -webkit-animation-delay: -36s;
  animation-delay: -36s;
  background-color: #e60004; }

[data-fancy='70'] {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: #9500e6; }

[data-fancy='71'] {
  -webkit-animation-delay: -22s;
  animation-delay: -22s;
  background-color: #dae600; }

[data-fancy='72'] {
  -webkit-animation-delay: -46s;
  animation-delay: -46s;
  background-color: #00e604; }

[data-fancy='73'] {
  -webkit-animation-delay: -79s;
  animation-delay: -79s;
  background-color: #00b8e6; }

[data-fancy='74'] {
  -webkit-animation-delay: -12s;
  animation-delay: -12s;
  background-color: #00e63d; }

[data-fancy='75'] {
  -webkit-animation-delay: -45s;
  animation-delay: -45s;
  background-color: #0063e6; }

[data-fancy='76'] {
  -webkit-animation-delay: -68s;
  animation-delay: -68s;
  background-color: #86e600; }

[data-fancy='77'] {
  -webkit-animation-delay: -44s;
  animation-delay: -44s;
  background-color: #e64900; }

[data-fancy='78'] {
  -webkit-animation-delay: -70s;
  animation-delay: -70s;
  background-color: #e64100; }

[data-fancy='79'] {
  -webkit-animation-delay: -37s;
  animation-delay: -37s;
  background-color: #e60095; }

[data-fancy='80'] {
  -webkit-animation-delay: -33s;
  animation-delay: -33s;
  background-color: #e60054; }

[data-fancy='81'] {
  -webkit-animation-delay: -55s;
  animation-delay: -55s;
  background-color: #e60095; }

[data-fancy='82'] {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: #e60b00; }

[data-fancy='83'] {
  -webkit-animation-delay: -81s;
  animation-delay: -81s;
  background-color: #e61f00; }

[data-fancy='84'] {
  -webkit-animation-delay: -28s;
  animation-delay: -28s;
  background-color: #e600e2; }

[data-fancy='85'] {
  -webkit-animation-delay: -46s;
  animation-delay: -46s;
  background-color: #95e600; }

[data-fancy='86'] {
  -webkit-animation-delay: -46s;
  animation-delay: -46s;
  background-color: #0082e6; }

[data-fancy='87'] {
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  background-color: #e600bf; }

[data-fancy='88'] {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: #00e636; }

[data-fancy='89'] {
  -webkit-animation-delay: -36s;
  animation-delay: -36s;
  background-color: #00e67a; }

[data-fancy='90'] {
  -webkit-animation-delay: -43s;
  animation-delay: -43s;
  background-color: #e6007a; }

[data-fancy='91'] {
  -webkit-animation-delay: -23s;
  animation-delay: -23s;
  background-color: #1700e6; }

[data-fancy='92'] {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  background-color: #9de600; }

[data-fancy='93'] {
  -webkit-animation-delay: -50s;
  animation-delay: -50s;
  background-color: #e64d00; }

[data-fancy='94'] {
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
  background-color: #e60077; }

[data-fancy='95'] {
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
  background-color: #e600a4; }

[data-fancy='96'] {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  background-color: #d600e6; }

[data-fancy='97'] {
  -webkit-animation-delay: -82s;
  animation-delay: -82s;
  background-color: #8e00e6; }

[data-fancy='98'] {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  background-color: #d2e600; }

[data-fancy='99'] {
  -webkit-animation-delay: -78s;
  animation-delay: -78s;
  background-color: #e6b000; }

[data-fancy='100'] {
  -webkit-animation-delay: -53s;
  animation-delay: -53s;
  background-color: #6000e6; }

[data-fancy='101'] {
  -webkit-animation-delay: -67s;
  animation-delay: -67s;
  background-color: #e65800; }

[data-fancy='102'] {
  -webkit-animation-delay: -67s;
  animation-delay: -67s;
  background-color: #00cbe6; }

[data-fancy='103'] {
  -webkit-animation-delay: -48s;
  animation-delay: -48s;
  background-color: #00a4e6; }

[data-fancy='104'] {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  background-color: #e600d2; }

[data-fancy='105'] {
  -webkit-animation-delay: -81s;
  animation-delay: -81s;
  background-color: #e60045; }

[data-fancy='106'] {
  -webkit-animation-delay: -60s;
  animation-delay: -60s;
  background-color: #e6005c; }

[data-fancy='107'] {
  -webkit-animation-delay: -34s;
  animation-delay: -34s;
  background-color: #00e677; }

[data-fancy='108'] {
  -webkit-animation-delay: -71s;
  animation-delay: -71s;
  background-color: #e60400; }

[data-fancy='109'] {
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  background-color: #0036e6; }

[data-fancy='110'] {
  -webkit-animation-delay: -29s;
  animation-delay: -29s;
  background-color: #0060e6; }

[data-fancy='111'] {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  background-color: #00dee6; }

[data-fancy='112'] {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: #e64100; }

[data-fancy='113'] {
  -webkit-animation-delay: -82s;
  animation-delay: -82s;
  background-color: #00c3e6; }

[data-fancy='114'] {
  -webkit-animation-delay: -47s;
  animation-delay: -47s;
  background-color: #0400e6; }

[data-fancy='115'] {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  background-color: #00e61f; }

[data-fancy='116'] {
  -webkit-animation-delay: -35s;
  animation-delay: -35s;
  background-color: #0000e6; }

[data-fancy='117'] {
  -webkit-animation-delay: -48s;
  animation-delay: -48s;
  background-color: #007ae6; }

[data-fancy='118'] {
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
  background-color: #de00e6; }

[data-fancy='119'] {
  -webkit-animation-delay: -15s;
  animation-delay: -15s;
  background-color: #00a8e6; }

[data-fancy='120'] {
  -webkit-animation-delay: -50s;
  animation-delay: -50s;
  background-color: #e6000f; }

[data-fancy='121'] {
  -webkit-animation-delay: -65s;
  animation-delay: -65s;
  background-color: #e6005c; }

[data-fancy='122'] {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  background-color: #e67300; }

[data-fancy='123'] {
  -webkit-animation-delay: -56s;
  animation-delay: -56s;
  background-color: #e60060; }

[data-fancy='124'] {
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  background-color: #0058e6; }

[data-fancy='125'] {
  -webkit-animation-delay: -9s;
  animation-delay: -9s;
  background-color: #00dae6; }

[data-fancy='126'] {
  -webkit-animation-delay: -82s;
  animation-delay: -82s;
  background-color: #41e600; }

[data-fancy='127'] {
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
  background-color: #99e600; }

[data-fancy='128'] {
  -webkit-animation-delay: -88s;
  animation-delay: -88s;
  background-color: #00a8e6; }

[data-fancy='129'] {
  -webkit-animation-delay: -70s;
  animation-delay: -70s;
  background-color: #d2e600; }

[data-fancy='130'] {
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  background-color: #4d00e6; }

[data-fancy='131'] {
  -webkit-animation-delay: -40s;
  animation-delay: -40s;
  background-color: #00cbe6; }

[data-fancy='132'] {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  background-color: #00e6cf; }

[data-fancy='133'] {
  -webkit-animation-delay: -58s;
  animation-delay: -58s;
  background-color: #e60099; }

[data-fancy='134'] {
  -webkit-animation-delay: -76s;
  animation-delay: -76s;
  background-color: #1700e6; }

[data-fancy='135'] {
  -webkit-animation-delay: -68s;
  animation-delay: -68s;
  background-color: #e66f00; }

[data-fancy='136'] {
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
  background-color: #e60041; }

[data-fancy='137'] {
  -webkit-animation-delay: -47s;
  animation-delay: -47s;
  background-color: #e60063; }

[data-fancy='138'] {
  -webkit-animation-delay: -66s;
  animation-delay: -66s;
  background-color: #e68e00; }

[data-fancy='139'] {
  -webkit-animation-delay: -50s;
  animation-delay: -50s;
  background-color: #b0e600; }

[data-fancy='140'] {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  background-color: #dee600; }

[data-fancy='141'] {
  -webkit-animation-delay: -44s;
  animation-delay: -44s;
  background-color: #e69100; }

[data-fancy='142'] {
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  background-color: #00e69d; }

[data-fancy='143'] {
  -webkit-animation-delay: -49s;
  animation-delay: -49s;
  background-color: #54e600; }

[data-fancy='144'] {
  -webkit-animation-delay: -59s;
  animation-delay: -59s;
  background-color: #5400e6; }

[data-fancy='145'] {
  -webkit-animation-delay: -34s;
  animation-delay: -34s;
  background-color: #7700e6; }

[data-fancy='146'] {
  -webkit-animation-delay: -65s;
  animation-delay: -65s;
  background-color: #e600b8; }

[data-fancy='147'] {
  -webkit-animation-delay: -75s;
  animation-delay: -75s;
  background-color: #0be600; }

[data-fancy='148'] {
  -webkit-animation-delay: -42s;
  animation-delay: -42s;
  background-color: #e600bb; }

[data-fancy='149'] {
  -webkit-animation-delay: -51s;
  animation-delay: -51s;
  background-color: #00e613; }

[data-fancy='150'] {
  -webkit-animation-delay: -21s;
  animation-delay: -21s;
  background-color: #2e00e6; }

[data-fancy='151'] {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  background-color: #e6001f; }

[data-fancy='152'] {
  -webkit-animation-delay: -13s;
  animation-delay: -13s;
  background-color: #007ee6; }

[data-fancy='153'] {
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
  background-color: #8600e6; }

[data-fancy='154'] {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  background-color: #4de600; }

[data-fancy='155'] {
  -webkit-animation-delay: -74s;
  animation-delay: -74s;
  background-color: #00e641; }

[data-fancy='156'] {
  -webkit-animation-delay: -59s;
  animation-delay: -59s;
  background-color: #da00e6; }

[data-fancy='157'] {
  -webkit-animation-delay: -36s;
  animation-delay: -36s;
  background-color: #e60017; }

[data-fancy='158'] {
  -webkit-animation-delay: -67s;
  animation-delay: -67s;
  background-color: #00e6ac; }

[data-fancy='159'] {
  -webkit-animation-delay: -55s;
  animation-delay: -55s;
  background-color: #3d00e6; }

[data-fancy='160'] {
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
  background-color: #ace600; }

[data-fancy='161'] {
  -webkit-animation-delay: -88s;
  animation-delay: -88s;
  background-color: #a4e600; }

[data-fancy='162'] {
  -webkit-animation-delay: -11s;
  animation-delay: -11s;
  background-color: #1b00e6; }

[data-fancy='163'] {
  -webkit-animation-delay: -40s;
  animation-delay: -40s;
  background-color: #e6000f; }

[data-fancy='164'] {
  -webkit-animation-delay: -55s;
  animation-delay: -55s;
  background-color: #e600de; }

[data-fancy='165'] {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: #3900e6; }

[data-fancy='166'] {
  -webkit-animation-delay: -41s;
  animation-delay: -41s;
  background-color: #e6a400; }

[data-fancy='167'] {
  -webkit-animation-delay: -27s;
  animation-delay: -27s;
  background-color: #bf00e6; }

[data-fancy='168'] {
  -webkit-animation-delay: -62s;
  animation-delay: -62s;
  background-color: #8ee600; }

[data-fancy='169'] {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  background-color: #6be600; }

[data-fancy='170'] {
  -webkit-animation-delay: -37s;
  animation-delay: -37s;
  background-color: #0045e6; }

[data-fancy='171'] {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  background-color: #0050e6; }

[data-fancy='172'] {
  -webkit-animation-delay: -67s;
  animation-delay: -67s;
  background-color: #49e600; }

[data-fancy='173'] {
  -webkit-animation-delay: -63s;
  animation-delay: -63s;
  background-color: #b400e6; }

[data-fancy='174'] {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
  background-color: #e600c3; }

[data-fancy='175'] {
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  background-color: #00e61f; }

[data-fancy='176'] {
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
  background-color: #00e6bb; }

[data-fancy='177'] {
  -webkit-animation-delay: -41s;
  animation-delay: -41s;
  background-color: #0049e6; }

[data-fancy='178'] {
  -webkit-animation-delay: -45s;
  animation-delay: -45s;
  background-color: #e66000; }

[data-fancy='179'] {
  -webkit-animation-delay: -26s;
  animation-delay: -26s;
  background-color: #e60091; }

[data-fancy='180'] {
  -webkit-animation-delay: -31s;
  animation-delay: -31s;
  background-color: #00e649; }

[data-fancy='181'] {
  -webkit-animation-delay: -51s;
  animation-delay: -51s;
  background-color: #00e61f; }

[data-fancy='182'] {
  -webkit-animation-delay: -78s;
  animation-delay: -78s;
  background-color: #3600e6; }

[data-fancy='183'] {
  -webkit-animation-delay: -39s;
  animation-delay: -39s;
  background-color: #e6001b; }

[data-fancy='184'] {
  -webkit-animation-delay: -24s;
  animation-delay: -24s;
  background-color: #bfe600; }

[data-fancy='185'] {
  -webkit-animation-delay: -66s;
  animation-delay: -66s;
  background-color: #00e6bb; }

[data-fancy='186'] {
  -webkit-animation-delay: -84s;
  animation-delay: -84s;
  background-color: #5c00e6; }

[data-fancy='187'] {
  -webkit-animation-delay: -18s;
  animation-delay: -18s;
  background-color: #17e600; }

[data-fancy='188'] {
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
  background-color: #e6002a; }

[data-fancy='189'] {
  -webkit-animation-delay: -59s;
  animation-delay: -59s;
  background-color: #e60041; }

[data-fancy='190'] {
  -webkit-animation-delay: -69s;
  animation-delay: -69s;
  background-color: #e6d600; }

[data-fancy='191'] {
  -webkit-animation-delay: -8s;
  animation-delay: -8s;
  background-color: #4500e6; }

[data-fancy='192'] {
  -webkit-animation-delay: -33s;
  animation-delay: -33s;
  background-color: #00e62a; }

[data-fancy='193'] {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  background-color: #e6de00; }

[data-fancy='194'] {
  -webkit-animation-delay: -56s;
  animation-delay: -56s;
  background-color: #49e600; }

[data-fancy='195'] {
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
  background-color: #4900e6; }

[data-fancy='196'] {
  -webkit-animation-delay: -41s;
  animation-delay: -41s;
  background-color: #32e600; }

[data-fancy='197'] {
  -webkit-animation-delay: -83s;
  animation-delay: -83s;
  background-color: #5000e6; }

[data-fancy='198'] {
  -webkit-animation-delay: -30s;
  animation-delay: -30s;
  background-color: #5800e6; }

[data-fancy='199'] {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  background-color: #e69500; }

[data-fancy='200'] {
  -webkit-animation-delay: -19s;
  animation-delay: -19s;
  background-color: #e63900; }

[data-fancy='201'] {
  -webkit-animation-delay: -32s;
  animation-delay: -32s;
  background-color: #6fe600; }

[data-fancy='202'] {
  -webkit-animation-delay: -89s;
  animation-delay: -89s;
  background-color: #e60036; }

[data-fancy='203'] {
  -webkit-animation-delay: -82s;
  animation-delay: -82s;
  background-color: #8600e6; }

[data-fancy='204'] {
  -webkit-animation-delay: -16s;
  animation-delay: -16s;
  background-color: #e6006f; }

[data-fancy='205'] {
  -webkit-animation-delay: -25s;
  animation-delay: -25s;
  background-color: #003de6; }

[data-fancy='206'] {
  -webkit-animation-delay: -7s;
  animation-delay: -7s;
  background-color: #e600de; }

[data-fancy='207'] {
  -webkit-animation-delay: -78s;
  animation-delay: -78s;
  background-color: #e64500; }

[data-fancy='208'] {
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
  background-color: #0095e6; }

[data-fancy='209'] {
  -webkit-animation-delay: -37s;
  animation-delay: -37s;
  background-color: #e6a100; }

[data-icon] {
  height: 0.75em;
  width: 0.75em;
  display: inline-block;
  margin: 0 0.175rem;
  vertical-align: baseline; }

code,
kbd,
pre,
samp {
  font-family: "SourceCodePro", Consolas, Menlo, Monaco, "Courier New", monospace;
  font-size: 0.71429rem; }

.code {
  background: #e9eff2;
  margin: 0.7rem -0.7rem;
  padding: 0.7rem; }
  .code .p {
    color: #313036; }
  .code .err {
    color: #db6d57; }
  .code .n {
    color: #761b98; }
  .code .na {
    color: #981b7b; }
  .code .nb {
    color: #981b3c; }
  .code .nc {
    color: #00a3a3; }
  .code .no {
    color: #66981b; }
  .code .nd {
    color: #307c95; }
  .code .ni {
    color: #1b984d; }
  .code .ne {
    color: #1b9876; }
  .code .nf {
    color: #1b7b98; }
  .code .nl {
    color: #1b3c98; }
  .code .nn {
    color: #381b98; }
  .code .nx {
    color: #761b98; }
  .code .py {
    color: #981b7b; }
  .code .nt {
    color: #b34d8d; }
  .code .nv {
    color: #5936a1; }
  .code .vc {
    color: #366ba1; }
  .code .vg {
    color: #832183; }
  .code .vi {
    color: #478557; }
  .code .bp {
    color: #140d73; }
  .code .o {
    color: #73848c; }
  .code .ow {
    color: #598ca6; }
  .code .c {
    color: #a1a1a1;
    font-style: italic; }
  .code .cm {
    color: #a1a1a1;
    font-style: italic; }
  .code .cp {
    color: #a1a1a1;
    font-style: italic; }
  .code .c1 {
    color: #a1a1a1;
    font-style: italic; }
  .code .cs {
    color: "code-comment-special";
    font-style: italic; }
  .code .k {
    color: #533c5d; }
  .code .kc {
    color: #321e7b; }
  .code .kd {
    color: #1e7b51; }
  .code .kn {
    color: #1e767b; }
  .code .kp {
    color: #387b1e; }
  .code .kr {
    color: #7b231e; }
  .code .kt {
    color: #3da428; }
  .code .l {
    color: #e60073; }
  .code .ld {
    color: #995533; }
  .code .m {
    color: rebeccapurple; }
  .code .mf {
    color: #337799; }
  .code .mh {
    color: #339977; }
  .code .mi {
    color: #204a60; }
  .code .mo {
    color: #267333; }
  .code .il {
    color: #758a0f; }
  .code .s {
    color: #493636; }
  .code .sb {
    color: #494036; }
  .code .sc {
    color: #494936; }
  .code .sd {
    color: #404936; }
  .code .s2 {
    color: #364936; }
  .code .se {
    color: #364940; }
  .code .sh {
    color: #364949; }
  .code .si {
    color: #364049; }
  .code .sx {
    color: #363649; }
  .code .sr {
    color: #403649; }
  .code .s1 {
    color: #493649; }
  .code .ss {
    color: #493640; }
  .code .g {
    color: #183e59; }
  .code .gd {
    color: #424994; }
  .code .ge {
    color: #35234d; }
  .code .gr {
    color: #722a79; }
  .code .gh {
    color: #531d3d; }
  .code .gi {
    color: #531d22; }
  .code .go {
    color: #592818; }
  .code .gp {
    color: #a99f2d; }
  .code .gs {
    color: #2da94c; }
  .code .gu {
    color: #2da98a; }
  .code .gt {
    color: #173c48; }
  .code .x {
    color: #173c48; }
  .code .w {
    color: transparent; }

[data-btn], [data-btn]:link, [data-btn]:visited {
  background-color: #e60073;
  color: #fff;
  border-radius: 0 0.35rem;
  display: inline-block;
  font-size: 1rem;
  font-style: normal;
  margin-bottom: 0.7rem;
  padding: 0.175rem 1.4rem; }

[data-btn]:focus, [data-btn]:hover, [data-btn]:active {
  background-color: #ac0056;
  text-decoration: none; }

[data-field] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  margin-bottom: 0.7rem; }

[data-label] {
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #fff;
  border-radius: 0 0.35rem;
  color: #266478;
  font-size: 0.71429rem;
  margin: 0 auto -0.35rem 0.35rem;
  padding: 0 0.35rem;
  -webkit-transition: color 250ms ease;
  transition: color 250ms ease; }

[data-input='default'],
[data-input='textarea'] {
  border: 2px solid #266478;
  border-radius: 0 0.35rem;
  font-size: 0.71429rem;
  padding: 0.35rem;
  -webkit-transition: border-color 250ms ease;
  transition: border-color 250ms ease;
  width: 100%; }
  [data-input='default']:invalid,
  [data-input='textarea']:invalid {
    border-color: #e60073; }
  [data-input='default']:focus,
  [data-input='textarea']:focus {
    border-color: #266478;
    outline: 0; }
    [data-input='default']:focus + [data-label],
    [data-input='textarea']:focus + [data-label] {
      color: #e60073; }

[data-input='textarea'] {
  min-height: 8.4rem; }

[data-actions] {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse; }

[data-wrap~='intro'],
[id*='intro'] {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
  grid-column: 2 / span 3;
  margin: 2.8rem 0;
  position: relative; }
  [data-wrap~='intro'] em,
  [data-wrap~='intro'] i,
  [id*='intro'] em,
  [id*='intro'] i {
    font-style: normal; }

[id*='intro'] {
  border-bottom: 1px solid #b3c9d0;
  padding-bottom: 2.8rem; }
  [id*='intro'] h2 {
    display: none; }

[data-grid='feature'] {
  display: grid;
  grid-auto-columns: 0;
  grid-auto-flow: dense;
  grid-auto-rows: minmax(9.75rem, 1fr);
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  padding: 0.7rem; }

[data-feature] {
  border: 1px solid #fff;
  display: grid;
  grid-auto-columns: 100%;
  grid-auto-rows: 100%;
  position: relative;
  -webkit-transition: border-color 300ms ease, -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
  transition: border-color 300ms ease, -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease;
  transition: transform 300ms ease, border-color 300ms ease, box-shadow 300ms ease;
  transition: transform 300ms ease, border-color 300ms ease, box-shadow 300ms ease, -webkit-transform 300ms ease, -webkit-box-shadow 300ms ease; }
  [data-feature]:hover, [data-feature]:focus, [data-feature]:active {
    -webkit-box-shadow: 0 0 0.7rem #173c48;
    box-shadow: 0 0 0.7rem #173c48;
    -webkit-transform: scale(1.0125);
    transform: scale(1.0125);
    z-index: 1; }
  @media (max-width: 38.99em) {
    [data-feature] {
      grid-column: 1 / -1; } }

[data-feature='large'] {
  grid-column: auto / span 2;
  grid-row: auto / span 2; }

.feature-link {
  --img: linear-gradient(to top, #e9eff2, rgba(233, 239, 242, 0) 50%);
  --pos: center;
  background-color: #e9eff2;
  background-image: var(--img), url("../images/wash.jpg");
  background-position: var(--pos, center), center;
  background-repeat: no-repeat;
  background-size: var(--size, cover), cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse; }
  .feature-link:hover, .feature-link:focus, .feature-link:active {
    text-decoration: none; }
    .feature-link:hover .feature-title, .feature-link:focus .feature-title, .feature-link:active .feature-title {
      background-color: #ac0056;
      color: #fff; }

.feature-title {
  background-color: #266478;
  color: #fff;
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: 1px solid #fff;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  font-size: 0.71429rem;
  font-weight: normal;
  max-width: 100%;
  overflow: hidden;
  padding: 0.175rem 0.35rem;
  text-overflow: ellipsis;
  -webkit-transition: background-color 300ms ease;
  transition: background-color 300ms ease;
  white-space: nowrap; }

blockquote,
.pullquote {
  font-size: calc(1rem + 0.75vw);
  font-style: italic;
  margin-bottom: 1.4rem; }
  blockquote em,
  blockquote i,
  .pullquote em,
  .pullquote i {
    font-style: normal; }
  blockquote .attribution,
  .pullquote .attribution {
    font-size: 0.71429rem;
    font-style: normal;
    font-weight: bold; }

blockquote p:not(.attribution) {
  text-indent: -0.5em; }
  blockquote p:not(.attribution)::before, blockquote p:not(.attribution)::after {
    content: "“";
    color: #e60073;
    font-weight: bold; }
  blockquote p:not(.attribution)::after {
    content: "”"; }

[data-grid='posts'] {
  --edge: minmax(0.7rem, 1fr);
  --side: 0;
  --content: minmax(0, 28rem);
  display: grid;
  grid-row-gap: calc(0.7rem + 3vmin);
  grid-template-columns: var(--edge, minmax(0.7rem, 1fr)) var(--side, minmax(0, 14rem)) var(--content, 14rem) var(--side, minmax(0, 14rem)) var(--edge, minmax(0.7rem, 1fr));
  margin: calc(0.7rem + 3vmin) 0; }
  @media (min-width: 28rem) {
    [data-grid='posts'] {
      --side: minmax(0, 14rem);
      --content: 21rem; } }
  @media (min-width: 42rem) {
    [data-grid='posts'] {
      --content: 14rem; } }

.post {
  grid-column: 3 / span 2; }
  .post:nth-of-type(even) {
    grid-column-start: 2; }

.byline {
  font-family: "freight-sans-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.71429rem;
  font-weight: bold; }

.post-title {
  font-size: calc(1rem + 0.75vw);
  font-style: italic; }

/*# sourceMappingURL=screen.css.map */
