<p class="colophon">
  This site is built with <a href="http://www.w3.org/TR/html5/">HTML5</a>
  and <a href="http://www.w3.org/TR/css-2010/">CSS3</a>
  using

  {% for item in config.colophon %}
    {% set after="." if loop.last else "," %}
    {% if loop.last %}and{% endif %}
    <a href="item.url">{{ item.name }}</a>{{ after }}
  {% endfor %}

  <span class="copyright vcard">copyright &copy; 2014
    <a href="http://eric.andmeyer.com/" class="fn url">Eric A. Meyer</a>.
  </span>
</p>
