{% import "utility.macros.j2" as utility %}
{% import "blog/macros.j2" as blog %}

{%- if not config.hide_title %}
<header class="rst-header container">
  {{ rst.html_title }}
  {{ blog.byline(ctx) }}
</header>
{%- endif %}

{%- for module in config.before -%}
  {% include module.include %}
{%- endfor -%}

{% if rst.fragment %}
  {% if config.erasure %}
    <input type="checkbox" id="erasure" />
  {% endif %}

  <section data-module="{{ config.page or 'rst' }}" class="rst-body" {{ utility.attr_if('data-erasure', config.erasure) }}>
    {{ rst.fragment }}
  </section>
{% endif %}

{%- for module in config.after -%}
  {% include module.include %}
{%- endfor -%}
