{% extends "base.html" %}

{% block styles %}
<link rel="stylesheet" href="/static/css/assert.css" />
{% endblock %}

{% block layout %}
<main>
  {{ rst.fragment }}
</main>
{% endblock %}

{% block extrajs %}
<script src="/static/js/jquery-1.7.2.js"></script>
<script>
  var saySomething = function(what, where, when) {
    var also = [
          "Trust me.",
        ];

    what = what.concat(what, what, what, what, also);

    setInterval(function() {
      var straw = Math.floor(Math.random() * what.length);

      $(where).prepend('<p>' + what[straw] + '</p>')
    }, when);
  };

  var what = [
        {% for say in config.assert %}
          "{{ say }}",
        {% endfor %}
      ],
      where = 'main',
      when = {{ assert_time|default(1000) }};

  saySomething(what, where, when);
</script>
{% endblock %}
