<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Info -->
  <title>{% block fulltitle %}{% block title %}Home{% endblock %} | {{ config.author }}{% endblock %}</title>
  <meta name="description" content="{% block description %}{{ config.author }} is an artist & experience designer, working across a broad range of genre and media — live performance, web software, music, writing, design, etc.{% endblock description %}" />
  <link href="/feed.atom" rel="alternate" title="Feed" type="application/atom+xml">
  <meta name="robots" content="index, follow" />

  <!-- Microformat Profiles -->
  <!-- hCard, hCalendar, rel-license, rel-tag, XOXO, XFN, VoteLinks -->
  <link rel="profile" href="http://microformats.org/profile/specs/" />

  <!-- Always force latest IE rendering engine (even in intranet) & Chrome Frame -->
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1" />

  <!-- favicon.ico -->
  <link rel="shortcut icon" href="/static/images/favicons/favicon.ico" />
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/static/images/favicons/apple-touch-icon-114x114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/static/images/favicons/apple-touch-icon-72x72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="/static/images/favicons/apple-touch-icon-precomposed.png">

  <!-- Styles -->
  {% block styles %}
  <link rel="stylesheet" href="/static/css/screen.css" />
  {% endblock %}

  <!-- Google -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-824108-9', 'auto');
    ga('send', 'pageview');
  </script>

  <!-- Page-Specific Head -->
  {% block extrahead %}{% endblock %}
</head>

<body data-location="{% block location %}{{ config.location }}{% endblock %}">

{% block layout %}{% endblock %}

<!-- JavaScript @@@ compress -->
<script src="/static/js/jquery-1.7.2.js"></script>
<script src="/static/js/defuscator.js"></script>
<script src="/static/js/viewport.js"></script>
<script src="/static/js/local.js"></script>

{% block extrajs %}{% endblock %}

</body>
</html>
