{% import 'utility.macros.j2' as utility %}


{% macro label(
  text,
  is_hidden=false
) %}
  <span
    data-label
    utility.attr_if('hidden', is_hidden)
  >
    {{ text }}
  </span>
{% endmacro %}


{% macro field(
  id,
  required=none
) %}
  <label
    for="{{ id }}"
    data-field="{{ id }}"
    utility.attr_if('required', required)
  >
    {{ caller() }}
  </label>
{% endmacro %}


{% macro input(
  text,
  id,
  name=none,
  type='text',
  placeholder=none,
  required=true,
  hide_label=false
) %}
  {% set input_types = [
    'text',
    'password',
    'search',
    'email',
    'url',
    'tel',
    'number',
    'date',
    'month',
    'week',
    'time',
    'datetime',
    'datetime-local',
    'color'
  ] %}
  {% set type = 'default' if (type in input_types) else type %}

  {% call field(id, required) %}
    {{ label(text, hide_label) }}

    {% if type == 'textarea' %}
      <textarea
        id="{{ id }}"
        name="{{ name or id }}"
        data-input="textarea"
        {{ utility.attr_if('required', required) }}
        {{ utility.attr_if('placeholder', placeholder) }}
      ></textarea>
    {% else %}
      <input
        type="{{ type }}"
        id="{{ id }}"
        name="{{ name or id }}"
        data-input="{{ type }}"
        {{ utility.attr_if('required', required) }}
        {{ utility.attr_if('placeholder', placeholder) }}
      />
    {% endif %}
  {% endcall %}
{% endmacro %}
