{% extends "base.html" %}

{% block layout %}
  <header data-region="banner">
    {% include "layout/_banner.html.j2" %}
    {% include "layout/_nav.html.j2" %}
  </header>

  <main data-region="main">
    {% block body %}{% endblock %}

    {% if not config.location == 'home' %}
      {% include "modules/_novel.html.j2" %}
    {% endif %}
  </main>

  <div class="fatfooter">
    {% if not config.hide_contact %}
      {% include 'layout/_contact.html.j2' %}
    {% endif %}

    {% include "layout/_tinyletter.html.j2" %}
    {% include "layout/_contentinfo.html.j2" %}
  </div>
{% endblock %}
