{% extends "base.html" %}

{% block template %}
<h1 role="banner"><a href="/" rel="home">Eric<span class="amp">&</span>Meyer</a></h1>

<nav role="navigation">
  <ul>
    <li><a href="/why/">manifesto</a></li>
    <li><a href="/what/">projects</a></li>
    <li><a href="/who/">bio</a></li>
  </ul>
</nav>

<section role="main">

  {% block body %}

  {% endblock body %}

</section>

<footer role="contentinfo">
  <div class="social">
    <p>Find me:</p>
    <ul>
      <li><span class="email">eric@andmeyer.com</span></li>
      <li><a href="http://feeds.feedburner.com/ericandmeyer/">feed</a></li>
      <li><a href="http://twitter.com/eriiicam/">twitter</a></li>
      <li><a href="http://facebook.com/eriiicam/">facebook</a></li>
      <li><a href="http://dribbble.com/players/ericam/">dribbble</a></li>
      <li><a href="http://vimeo.com/eriiicam">vimeo</a></li>
      <li><a href="http://www.github.com/ericam/">github</a></li>
      <li><a href="http://stackoverflow.com/users/108625/eric-meyer/">stack overflow</a></li>
    </ul>
  </div>

  <p class="colophon">
    This site is built on plain old semantic <a href="http://www.w3.org/TR/html5/">HTML5</a>,
    powered by
    the <a href="https://github.com/mitsuhiko/rstblog/">rstblog</a> static site generator
    for <a href="http://www.python.org">Python</a>,
    and styled using <a href="http://www.w3.org/TR/css-2010/">CSS3</a>,
    with help from
    <a href="http://www.jquery.com/">jQuery</a>,
    <a href="http://www.modernizr.com/">Modernizr</a>,
    <a href="http://keyamoon.com/icomoon/">IcoMoon</a>,
    <a href="http://susy.oddbird.net/">Susy</a>,
    <a href="http://compass-style.org/">Compass</a>,
    and <a href="http://sass-lang.com/">Sass</a>.
  </p>

  <p class="copyright vcard">copyright &copy; 2011-2012
    <a href="http://eric.andmeyer.com/" class="fn url">Eric A. Meyer</a>
  </p>
</footer>
{% endblock template %}
