{% extends "layout.html" %}
{% import "utility.macros.j2" as utility %}
{% import "layout/macros.j2" as layout %}
{% import "blog/macros.j2" as blog %}

{% block title %}{{ rst.title }}{% endblock %}
{% block description %}{{ ctx.render_summary()|striptags or super() }}{% endblock %}


{% block og_url %}{{ get_full_canonical_url(ctx.builder, slug=ctx.slug) }}{% endblock %}
{% block og_description %}{{ ctx.render_summary()|striptags or super() }}{% endblock %}
{% block og_type %}{{ 'article' if ctx.pub_date else super() }}{% endblock %}
{% block twitter_type %}{{ 'summary_large_image' if ctx.config.image and ctx.config.image[0].src else super() }}{% endblock %}


{% block extra_og %}
  {% if ctx.pub_date %}
    <meta property="article:published_time" content="{{ ctx.pub_date.isoformat() }}" />
  {% endif %}
  {% if ctx.tags %}
    {% for tag in ctx.tags %}
      <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
  {% endif %}
{% endblock %}


{% block hero %}
  {{ layout.hero(config, super()) }}
{% endblock %}


{% block page_title %}
  {{ rst.title or super() }}
{% endblock %}


{% block page_tagline %}
  {{ config.tagline|safe or super() }}
{% endblock %}


{% block body %}

  {%- for module in config.before -%}
    {% include module.include %}
  {%- endfor -%}

  {% if rst.fragment %}
    {% if config.erasure %}
      <input type="checkbox" id="erasure" />
    {% endif %}

    {% if config.summary_intro %}
      <section
        data-wrap="intro"
        {{ utility.attr_if('data-erasure', config.erasure) }} >
        {{ rst.render_summary }}
      </section>
    {% endif %}

    {% if config.wrap or config.erasure %}
      <section
        data-wrap="{{ config.wrap }}"
        {{ utility.attr_if('data-erasure', config.erasure) }} >
        {{ rst.fragment }}
      </section>
    {% else %}
      {{ rst.fragment }}
    {% endif %}
  {% endif %}

  {%- for module in config.after -%}
    {% include module.include %}
  {%- endfor -%}

  {% if config.series %}
    {% set entries = get_blog_entries_by_tag(config.series)|reverse %}
    {{ blog.section(entries) }}
  {% endif %}

{% endblock %}
