{% extends "layout.html" %}
{% import "utility.macros.j2" as utility %}
{% import "blog/macros.j2" as blog %}

{% block title %}{{ rst.title }}{% endblock %}
{% block og_title %}{{ rst.title }}{% endblock %}
{% block og_url %}{{ utility.url(ctx) }}{% endblock %}
{% block og_description %}{{ config.summary or super() }}{% endblock %}
{% block location %}{% if ctx.pub_date %}blog{% else %}{{ super() }}{% endif %}{% endblock %}

{% block body %}

  {%- if config.image -%}
    {% set image = config.image[0] %}
    <figure class="hero">
      <img src="/static/pictures/{{ image.src }}" alt="" class="hero-image" />
      {% if image.caption %}
        <figcaption class="hero-caption">
          <p></p>
        </figcaption>
      {% endif %}
    </figure>
  {%- endif -%}

  {%- if not config.hide_title -%}
  <header data-module="page-header" class="rst-header">
    <h1>{{ rst.title }}</h1>
    {{ blog.byline(ctx) }}
  </header>
  {%- endif -%}

  {%- for module in config.before -%}
    {% include module.include %}
  {%- endfor -%}

  {% if rst.fragment %}
    {% if config.erasure %}
      <input type="checkbox" id="erasure" />
    {% endif %}

    <section data-module="{{ config.page or 'rst' }}" {{ utility.attr_if('data-erasure', config.erasure) }}>
      {{ rst.fragment }}
    </section>
  {% endif %}

  {%- for module in config.after -%}
    {% include module.include %}
  {%- endfor -%}
{% endblock %}
