{# Utility Macros #}


{# Attributes #}
{% macro attr_if(
  attr,
  value=none
) %}
  {%- if value == true -%}
    {{ attr }}
  {%- elif value -%}
    {{ attr }}="{{ value }}"
  {%- endif -%}
{% endmacro %}


{% macro show_attrs(
  attrs
) %}
  {%- for attr, value in attrs.items() %}{{ attr_if(attr, value) }}{% endfor -%}
{% endmacro %}


{# Links #}
{% macro link_if(
  content=none,
  url=none,
  class=none,
  attrs={}
) %}
  {%- set content = content if (content != none) else caller() -%}

  {%- if url -%}
    <a href="{{ url }}" {{ attr_if('class', class) }} {{ show_attrs(attrs) }}>{{ content|safe }}</a>
  {%- elif class -%}
    <span class="{{ class }}">{{ content|safe }}</span>
  {%- else -%}
    {{ content|safe }}
  {%- endif -%}
{% endmacro %}


{# Date & Time #}
{% macro time(
  datetime,
  style='long',
  attrs={'class':'dt-start'}
) %}
  {% if datetime %}
    {% if datetime.start and datetime.end %}
      {% set end_style = 'mini' if (datetime.start[1] == datetime.end[1]) and (datetime.start[0] == datetime.end[0]) else style %}
      {{- display_time(datetime.start, style, attrs={'class':'dt-start'}) -}}
      -
      {{- display_time(datetime.end, end_style, attrs={'class':'dt-end'}) -}}
    {% else %}
      {{ display_time(datetime, style, attrs) }}
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro display_time(datetime, style='long', attrs={'class':'dt-start'}) -%}
  {% set datetime = datetime|make_date %}
  {% set iso = datetime|format_date('%Y-%m-%dT%H:%MZ%z') %}
  {% set formats = {
    'long': '%B %-d, %Y',
    'short': '%-m.%-d.%Y'
  } %}

  <time {{ show_attrs(attrs) }} {{ attr_if('datetime', iso) }}>
    {{ datetime|format_date(formats[style]) }}
  </time>
{%- endmacro %}
