// Calendar
// --------

$date-span: size(rhythm)*5;

.section--cal {
  margin-bottom: size(rhythm);
}

.h-event {
  margin-bottom: size(shim);
}

.dt-start {
  @include font-size(small);
  text-align: right;
  float: left;
  font-style: italic;
  padding-right: size(shim);
  width: $date-span;
}

.p-name {
  margin-bottom: 0;
  padding-left: $date-span + size(shim);
}

.p-summary,
.p-location {
  @include font-size(small);
  font-style: italic;
  margin-bottom: 0;
  padding-left: $date-span + size(shim);
}

.p-category {
  @extend %boilerplate;
  @include before(' | ');
  @include font-size(smaller);
  color: color(light);
  font-style: normal;
  text-transform: uppercase;
}
