// ----------------------------------------------------------------------------
// List Pages

.blog-archive,
.tag-archive {
  margin-top: size(rhythm);
}


// ----------------------------------------------------------------------------
// Blog Archive

.blog-archive {
  li {
    list-style-type: none;

    ul {
      margin-left: 0;
    }

    li {
      list-style-type: disc;
    }
  }
}


// ----------------------------------------------------------------------------
// Tag List

.tag-list {
  margin-top: size(rhythm);
  display: block;

  li {
    @include after(', ');
    display: inline;

    &:last-child:after {
      display: none;
    }
  }
}
