// ----------------------------------------------------------------------------
// Posts

.post {
  @extend %spacer;
  @include trailer;
  &:last-of-type:after { display: none; }
}

.byline {
  @include font-size(small);
  color: $gray;
  font-style: italic;
}

.gallery {
  $half: floor(susy-get(columns)/2);

  > a, > img {
    @include span($half after);
    @include trailer(1);

    &:nth-child(even) { @include last(after); }
  }
  a {
    #{$link} { @include transition(all 150ms); }
    #{$focus} { @include scale(1.05); }
  }
  figcaption { clear: both; }
}

.readmore {
  font-style: italic;
  &:after { content: "»"; }
}

.section { clear: both; }
