// ----------------------------------------------------------------------------
// Posts

.post {
  @extend %spacer;
  @include trailer;
  &:last-of-type:after { display: none; }
}

.byline {
  color: $mid;
  font-style: italic;
}

.gallery {
  > a, > img {
    @include span-columns(3);
    @include nth-omega(even);
    @include trailer(1);
  }
  a {
    #{$link} { @include transition(all 150ms); }
    #{$focus} { @include scale(1.05); }
  }
  figcaption { clear: both; }
}

.readmore {
  font-style: italic;
  &:after { content: "»"; }
}

.section { clear: both; }
