// ----------------------------------------------------------------------------
// Posts

.post {
  @extend %spacer;
  margin-bottom: size(spacer);

  &:last-of-type:after {
    display: none;
  }
}

.byline {
  @include font-size(small);
  color: color('gray');
  font-style: italic;
}

.gallery-body {
  display: flex;
  flex-wrap: wrap;

  img {
    width: 100%;
    outline: 1px solid color(text);
  }

  .gallery-item {
    flex: 1 1 48%;
    margin: size(half-shim) 1%;
  }

  .full {
    flex: 1 1 98%;
  }

  .video {
    padding-top: 1/(16/9) * 48%;

    &.full {
      padding-top: 1/(16/9) * 98%;
    }
  }
}

.readmore {
  @include after('»');
  font-style: italic;
}

.section {
  clear: both;
}
