// scss-lint:disable NestingDepth, SelectorDepth

// Productions
// ===========

.when .section {
  > ul > li {
    > em,
    > strong {
      @extend %boilerplate;
      @include before(' | ');
      @include font-size(small);
      color: color(text);
      display: inline-block;
      font-style: normal;
      text-transform: uppercase;
    }

    strong {
      font-weight: bold;

      &:before {
        font-weight: normal;
      }
    }

    ul {
      @extend %boilerplate;
      @include font-size(small);
      margin-bottom: size(shim);
    }
  }
}
