// Productions
// ===========

.when .section {
  > ul > li {
    > em, > strong {
      @include font-size(xsmall);
      @include sans;
      @include before(" | ");
      display: inline-block;
      color: color($base,.5);
      text-transform: uppercase;
      font-style: normal;
    }
    strong {
      font-weight: bold;
      &:before { font-weight: normal; }
    }
    ul {
      @include font-size(xsmall, .75);
      @include trailer(.5);
      @include sans;
    }
  }
}
