// ----------------------------------------------------------------------------
// Styleguides

%spacer {
  @include after("— & —") {
    @include amp;
    display: block;
    color: $pink-lighter;
    color: rgba($pink-dark,.25);
    text-align: center;
  }
}

%boilerplate {
  @include clearfix;
  @include bleed($grid-padding);
  @include box-shadow(rgba($pink-light,.25) 0 0 rhythm(.25) inset);
  background: rgba($pink-lightest,.25);
}

// ----------------------------------------------------------------------------
// Banner

[role="banner"] {
  @include adjust-font-size-to($medpx,2);
  white-space: nowrap;
  text-align: center;

  .amp {
    @include adjust-font-size-to($xxxlargepx,2);
    display: inline-block;
    margin-left: -.1em;
    margin-right: -.1em;
    vertical-align: middle;
    color: $blue-darker;
  }

  a {
    #{$link} { color: $pink-dark; }
    #{$focus} { color: $blue-darker; }
  }
}

// ----------------------------------------------------------------------------
// Navigation

@mixin active-nav($slug) {
  .#{$slug} &[href*="#{$slug}"] {
    @include before("/");
    color: $pink-dark;
  }
}

[role="navigation"] {
  @include sanscond;
  @include adjust-font-size-to($smallpx);
  @include leader(-.75);
  @include trailer(.5);
  text-align: center;

  ul { @include inline-block-list; }

  a {
    #{$link} {
      display: block;
      padding: 0 rhythm(.25);
      color: rgba($pink-dark,.5);
      @include before("+") {
        display: inline-block;
        width: .5em;
      }
    }
    #{$focus} {
      @include before("/");
      color: $blue-darker;
    }
    @include active-nav(who);
    @include active-nav(what);
    @include active-nav(why);
  }
}

// ----------------------------------------------------------------------------
// Main

$main-top-border: 2px dashed rgba($pink-dark,.25);

[role="main"] {
  @extend %type;
  @include leading-border(2px,.5);
  @include trailer;
  clear: both;
  counter-reset: fig;
  border-top: $main-top-border;
}

@include at-breakpoint($total-columns) {
  $half: floor($total-columns/2);
  [role="banner"], [role="navigation"] {
    @include span-columns($half);
    @include leader(.5);
  }
  [role="banner"] { text-align: left; }
  [role="navigation"] {
    @include omega;
    @include adjust-leading-to(1.75);
    @include trailer(.5);
    text-align: right;
  }
  [role="main"] {
    @include leading-border(2px,1);
    border-top: $main-top-border;
  }
}

// ----------------------------------------------------------------------------
// Pagination

.pagination {
  text-align: center;
  .prev { &:before { content: "« ";} }
  .current {
    @include adjust-font-size-to($xxxlargepx);
    vertical-align: middle;
  }
  .next { &:after { content: " »";} }
  .disabled { color: $mid; }
}

// ----------------------------------------------------------------------------
// Contentinfo

[role="contentinfo"] {
  @extend %boilerplate;
  @include sanscond;
  @include adjust-font-size-to($smallpx);
  @include border-top-radius;
  padding-top: rhythm(.5);
  padding-bottom: rhythm(.5);
  clear: both;
  color: $mid;
  text-transform: uppercase;
}

.social {
  @include trailer;

  ul { @include inline-block-list; }

  a {
    margin-right: rhythm(.5);
    &:before {
      @extend %icon-content;
      @include adjust-font-size-to($base-font-size,1);
      @include rem(padding-right, rhythm(.25));
    }
  }

  [href*="twitter"] { @extend %icon-twitter; }
  [href*="facebook"] { @extend %icon-facebook; }
  [href*="dribbble"] { @extend %icon-dribbble; }
  [href*="github"] { @extend %icon-github; }
  [href*="vimeo"] { @extend %icon-vimeo; }
  [href*="stackoverflow"] { @extend %icon-stack-overflow; }
  [href*="feed"] { @extend %icon-feed; }
  [href*="mailto"] { @extend %icon-mail; }
}

.colophon { @include trailer; }
