// ----------------------------------------------------------------------------
// Styleguides

%spacer {
  @include after("— & —") {
    @include amp;
    display: block;
    color: color($pink lightest, .25);
    text-align: center;
  }
}

// ----------------------------------------------------------------------------
// Banner

[role="banner"] {
  @include leader(.25);
  white-space: nowrap;
  text-align: center;

  .amp {
    @include adjust-font-size-to($xxlargepx);
    display: inline-block;
    margin-left: -.1em;
    margin-right: -.1em;
    vertical-align: middle;
    color: $blue-darker;
  }

  a {
    #{$link} { color: $pink-dark; }
    #{$focus} { color: $blue-darker; }
  }
}

// ----------------------------------------------------------------------------
// Navigation

@mixin active-nav($slug) {
  .#{$slug} &[href*="#{$slug}"] {
    @include before("/");
    color: $pink-dark;
  }
}

[role="navigation"] {
  @include sanscond;
  @include adjust-font-size-to($smallpx);
  @include leader(-.5);
  @include trailer(.25);
  text-align: center;

  ul { @include inline-block-list; }

  a {
    #{$link} {
      display: block;
      padding: 0 rhythm(.25);
      color: rgba($pink-dark,.5);
      @include before("+") {
        display: inline-block;
        width: .5em;
      }
    }
    #{$focus} {
      @include before("/");
      color: $blue-darker;
    }
    @include active-nav(who);
    @include active-nav(what);
    @include active-nav(why);
  }
}

@include at-breakpoint(25em $total-columns) {
  $half: floor($total-columns/2);

  .header { @include rhythm-padding(.25); }
  [role="banner"], [role="navigation"] {
    @include span-columns($half);
  }
  [role="banner"] { text-align: left; }
  [role="navigation"] {
    @include omega;
    @include leader(.375);
    text-align: right;
  }
}

// ----------------------------------------------------------------------------
// Main

[role="main"] {
  @extend %type;
  clear: both;
  counter-reset: fig;
}

// ----------------------------------------------------------------------------
// Pagination

.pagination {
  text-align: center;
  .prev { &:before { content: "« ";} }
  .current {
    @include adjust-font-size-to($xxxlargepx);
    vertical-align: middle;
  }
  .next { &:after { content: " »";} }
  .disabled { color: $mid; }
}

// ----------------------------------------------------------------------------
// Contentinfo

[role="contentinfo"] {
  @include sanscond;
  @include adjust-font-size-to($xsmallpx);
  @include border-top-radius;
  padding-top: rhythm(.5);
  padding-bottom: rhythm(.5);
  clear: both;
  color: $mid;
  text-transform: uppercase;
}

.social {
  @include trailer(.25);

  li { display: inline-block; }

  a {
    @extend %icon-replace;
    @include adjust-font-size-to($medpx,1.5);
    @include border-radius(rhythm(.25));
    display: inline-block;
    width: rhythm(1.5);
    border: 1px solid color($accent,0);
    text-align: center;
    &:before { right: 0; }
    #{$focus} {
      border: 1px solid $accent;
    }
  }

  [href*="twitter"] { @extend %icon-twitter; }
  [href*="facebook"] { @extend %icon-facebook; }
  [href*="dribbble"] { @extend %icon-dribbble; }
  [href*="github"] { @extend %icon-github; }
  [href*="vimeo"] { @extend %icon-vimeo; }
  [href*="stackoverflow"] { @extend %icon-stack-overflow; }
  [href*="feed"] { @extend %icon-feed; }
  [href*="mailto"] { @extend %icon-mail; }
}

.colophon { @include trailer(.25); }
