// Tooltips
// ========

$tooltip-arrow-size: rhythm(.25);
$tooltip-background: color($accent, .9);

@include tooltips {
  @include sans;
  @include font-size(xxsmall);
  @include box-shadow(0 0 1px color(darkest));
  padding: rhythm(.125) rhythm(.5);
  color: white;
  background: $tooltip-background;
  border-radius: rhythm(.25);
  border: 1px solid color(darker);
  text-shadow: none;

  [data-tooltip] { @include before(attr(data-tooltip)); }
}


// Positions
// ---------

%tooltip-vertical {
  left: -100%;
  min-width: 300%;
  text-align: center;
}

%tooltip-top {
  @extend %tooltip-vertical;
  margin-bottom: $tooltip-arrow-size;
}

%tooltip-bottom {
  @extend %tooltip-vertical;
  margin-top: $tooltip-arrow-size;
}

%tooltip-left {
  margin-right: $tooltip-arrow-size;
}

%tooltip-right {
  margin-left: $tooltip-arrow-size;
}
