{% import 'utility.macros.j2' as utility %}

<header data-region="banner">
  <a href="/" class="logo">
    <svg><use xlink:href="#face" /></svg>
  </a>

  <div class="brand">
    <h1 class="title">
      <a href="/" rel="home">{{ config.author }}</a>
    </h1>

    {% set subtitle = config.subtitle[0] %}
    {{ utility.link(subtitle.text, subtitle.url, 'subtitle') }}
  </div>
</header>
