{% import 'utility.macros.j2' as utility %}

{% set subtitle = config.subtitle[0] %}

<h1 class="brand">
  <a class="brand-title" href="/" rel="home">{{ config.author }}</a> |
  {{ utility.link(subtitle.text, subtitle.url, 'brand-subtitle') }}
</h1>
