{% if config.social %}
<div class="social">
  {% for item in config.social %}
  {% set content=item.title if not item.content else item.content %}
  {% set icon=item.title if not item.icon else item.icon %}
    <a href="{{ item.url }}" class="tooltip{% if item.title == 'email' %} email{% endif %}">
      <span data-icon="{{ icon }}"></span>
      <span class="tooltip-text">{{ content }}</span>
    </a>
  {% endfor %}
</div>
{% endif %}
