{% import "events/macros.j2" as calendar %}

{% if config.interviews %}
<section data-module="interviews">
  <h1>Interviews</h1>

{#   {% for interview in config.interviews %}
    {{ calendar.show(interview) }}
  {% endfor %} #}
</section>
{% endif %}
