{% import "utility.macros.j2" as utility %}
{% import "events/macros.j2" as events %}

<section data-module="press">
  <h1>Press Coverage</h1>

  {% for event in (config.future + config.past)|selectattr('press') %}
    {% if event.press|map(attribute='quote')|join('') != '' %}
      <article class="h-event press-topic">
        {{ events.name(event.name, event.url) }}
        {{ events.body(event, show_location=false) }}
        {{ events.press(event.press, show_noquote=false) }}
      </article>
    {% endif %}
  {% endfor %}
</section>
