{% import "utility.macros.j2" as utility %}
{% import "content/macros.j2" as content %}
{% import "content/feature.macros.j2" as feature %}
{% import "gallery/macros.j2" as media %}


{% macro by_type(
  title,
  event_type=none,
  show='future',
  count=none
) %}
  {% set pages = all_pages|filter_pages('event_type', 'has', event_type) if event_type else all_pages|filter_pages('events') %}
  {% set events = pages|collect('events', label_with='slug')|sort(attribute='date') %}
  {% set future = events|filter_events(past=false)|list %}
  {% set past = events|filter_events(past=true)|reverse|list %}

  {% if (show == 'video') %}
    {% set events = events|selectattr('video')|sort(attribute='date')|reverse|list %}
    {{ videos(
      events=events[:count],
      title=title
    ) }}
  {% else %}
    {% set events = past if (show == 'past') else future %}
    {{ show_events(
      title=title,
      events=events[:count]
    ) }}
  {% endif %}
{% endmacro %}


{% macro by_page(
  title,
  slug,
  show='future',
  count=none
) %}
  {% set pages = all_pages|filter_pages('slug', 'eq', slug) %}
  {% set events = pages|collect('events', label_with='slug')|sort(attribute='date') %}
  {% set future = events|filter_events(past=false)|list %}
  {% set past = events|filter_events(past=true)|reverse|list %}

  {% if (show == 'video') %}
    {% set events = events|selectattr('video')|sort(attribute='date')|reverse|list %}
    {{ videos(
      events=events[:count],
      title=title
    ) }}
  {% else %}
    {% set events = past if (show == 'past') else future %}
    {{ show_events(
      title=title,
      events=events[:count]
    ) }}
  {% endif %}
{% endmacro %}


{% macro show_events(
  title,
  events
) %}
  {% if events %}
    <hr data-layout="grid-border" />
    <h2 data-title="section">
      {{ title|typogrify }}
    </h2>

    <section data-grid="feature">
      {{ list(
        events=events,
        count=count
      ) }}
    </section>
  {% endif %}
{% endmacro %}


{% macro videos(
  events,
  title=none
) %}
  {{ media.figure(
    events,
    caption=title,
    section=true,
    type='video'
  ) }}
{% endmacro %}


{% macro list(
  events,
  count=none
) %}
  {% set events = events[:count] if count else events %}
  {% if events|length %}
    {% for event in events %}
      {{ item(event) }}
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro item(
  event
) %}
  {% set event_date = event.date|make_date %}
  {% set page = all_pages|filter_pages('slug', 'eq', event.slug)|get_page %}
  {% set is_venue = true if not ('theater' in page.config.event_type) else false %}

  {% set title = event.venue if is_venue else page.title %}
  {% set title_url = event.url if is_venue else content.page_link(page) %}
  {% set sub = page.title if is_venue else event.venue %}
  {% set sub_url = content.page_link(page) if is_venue else event.url %}

  {{ feature.item(
    title=title,
    url=title_url,
    brag_html=brag(event, sub, sub_url),
    image=page.config.image[0].src if page.config.image else none
  ) }}
{% endmacro %}


{% macro brag(
  event,
  title,
  url
) %}
  {{ utility.link_if(title, url) }}
  {{ date(event) }}
  {{ adr(event) }}
{% endmacro %}


{% macro date(
  event
) %}
  {% set event_date = event.date|make_date %}
  {% set end_date = event.end|make_date %}

  <time datetime="{{ event_date }}" data-meta="time">
    {% if (event_date == end_date) %}
      <i>on</i>
      {{ event_date|format_date('%B %-d, %Y') }}
    {% else %}
      {{ event_date|format_date('%b %-d') }}
      <i>—</i>
      {{ end_date|format_date('%b %-d, %Y') }}
    {% endif %}
  </time>
{% endmacro %}


{% macro adr(
  event
) %}
  {% if event.adr %}
    <span data-meta="adr">
      <i>in</i>
      <strong>{{ event.adr|typogrify }}</strong>
    </span>
  {% endif %}
{% endmacro %}


{% macro links(
  event
) %}
  {% set links = {
    'slides': 'slides',
    'video_link': 'video',
    'transcript': 'transcript'
  } %}

  {% if event.slides or event.video_link or event.transcript %}
    <div class="event-links">
      {% for link in links %}
        {% if event[link] %}
          {{ utility.link_if(
            url=event[link],
            content=links[link]
          ) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
