{% import "utility.macros.j2" as utility %}
{% import "content/macros.j2" as content %}


{% macro by_type(
  title,
  event_type=none,
  show='future',
  count=none
) %}
  {% set pages = all_pages|filter_pages('event_type', 'in', event_type) if event_type else all_pages|filter_pages('events') %}
  {% set events = pages|collect('events', label_with='slug')|sort(attribute='date') %}
  {% set future = events|filter_events(past=false)|list %}
  {% set past = events|filter_events(past=true)|reverse|list %}

  {% if (show == 'video') %}
    {% set events = events|selectattr('video')|sort(attribute='date')|reverse|list %}
    {{ videos(
      events=events[:count],
      title=title
    ) }}
  {% else %}
    {% set events = past if (show == 'past') else future %}
    {{ show_events(
      title=title,
      events=events[:count]
    ) }}
  {% endif %}
{% endmacro %}


{% macro by_page(
  title,
  slug,
  show='future',
  count=none
) %}
  {% set pages = all_pages|filter_pages('slug', 'eq', slug) %}
  {% set events = pages|collect('events', label_with='slug')|sort(attribute='date') %}
  {% set future = events|filter_events(past=false)|list %}
  {% set past = events|filter_events(past=true)|reverse|list %}

  {% if (show == 'video') %}
    {% set events = events|selectattr('video')|sort(attribute='date')|reverse|list %}
    {{ videos(
      events=events[:count],
      title=title
    ) }}
  {% else %}
    {% set events = past if (show == 'past') else future %}
    {{ show_events(
      title=title,
      events=events[:count]
    ) }}
  {% endif %}
{% endmacro %}


{% macro show_events(
  title,
  events
) %}
  {% if events %}
    <hr data-layout="grid-border" />
    <h2 data-title="section">
      {{ title|typogrify }}
    </h2>

    <section data-grid="feature">
      {{ list(
        events=events,
        count=count
      ) }}
    </section>
  {% endif %}
{% endmacro %}


{% macro videos(
  events,
  title=none
) %}
  {% if events|length %}
    <hr data-layout="grid-border" />

    {% if title %}
      <h2 data-title="section">
        {{ title|typogrify }}
      </h2>
    {% endif %}

    <figure data-gallery="video">
      {% for event in events %}
        <div class="video">
          {{ event.video|safe }}
        </div>
      {% endfor %}
    </figure>
  {% endif %}
{% endmacro %}


{% macro list(
  events,
  count=none
) %}
  {% if events|length %}
    {% for event in events %}
      {% if (not count) or (loop.index <= count) %}
        {{ item(event) }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro item(
  event
) %}
  {% set event_date = event.date|make_date %}
  {% set page = all_pages|filter_pages('slug', 'eq', event.slug)|get_page %}

  <article class="feature">
    {{ name(event) }}
    {{ brag(event, page) }}
  </article>
{% endmacro %}


{% macro name(
  event
) %}
  <h3 class="feature-title">
    {{ utility.link_if(
      content=event.venue,
      url=event.url
    ) }}
  </h3>
{% endmacro %}


{% macro brag(
  event,
  page
) %}
  <div class="feature-brag">
    {{ utility.link_if(
      content=page.title,
      url=content.page_link(page)
    ) }}
    {{ date(event) }}
    {{ adr(event) }}
  </div>
{% endmacro %}


{% macro date(
  event
) %}
  {% set event_date = event.date|make_date %}

  <i>on</i>
  <time datetime="{{ event_date }}" data-meta="time">
    {{ event_date|format_date('%B %-d, %Y') }}
  </time>
{% endmacro %}


{% macro adr(
  event
) %}
  {% if event.adr %}
    <span data-meta="adr">
      <i>in</i>
      <strong>{{ event.adr|typogrify }}</strong>
    </span>
  {% endif %}
{% endmacro %}


{% macro links(
  event
) %}
  {% set links = {
    'slides': 'slides',
    'video_link': 'video',
    'transcript': 'transcript'
  } %}

  {% if event.slides or event.video_link or event.transcript %}
    <div class="event-links">
      {% for link in links %}
        {% if event[link] %}
          {{ utility.link_if(
            url=event[link],
            content=links[link]
          ) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
