{% import "utility.macros.j2" as utility %}
{% import "content/macros.j2" as content %}


{% macro by_type(
  title,
  event_type=none,
  show='future',
  slice=none
) %}
  {% set pages = all_pages|filter_pages('event_type', 'in', event_type) if event_type else all_pages|filter_pages('events') %}
  {% set events = pages|collect('events', label_with='slug')|sort(attribute='date') %}

  {{ show_events(
    title=title,
    events=events,
    show=show,
    slice=slice
  ) }}
{% endmacro %}


{% macro by_page(
  title,
  slug,
  show='future',
  slice=none
) %}
  {% set page = all_pages|filter_pages('slug', 'eq', slug)|get_page %}
  {% set events = page.events|sort(attribute='date') %}

  {{ show_events(
    title=title,
    events=events,
    show=show,
    slice=slice
  ) }}
{% endmacro %}


{% macro show_events(
  title,
  events,
  show='future',
  slice=none
) %}
  {% if (show == 'video') %}
    {{ videos(
      events=events,
      title=title,
      slice=slice
    ) }}
  {% endif %}

  {% if (show in ['future', 'past']) %}
    {% set future = events|filter_events(past=false)|list %}
    {% set past = events|filter_events(past=true)|reverse|list %}
    {% set events = past if (show == 'past') else future %}

    {% if events %}
      <section data-events="{{ show }}" data-align="full" data-grid="full">
        <h2 class="events-list-title">{{ title|typogrify }}</h2>
        {{ list(
          events=events,
          slice=slice,
          highlight=(show == 'future')
        ) }}
      </section>
    {% endif %}
  {% endif %}
{% endmacro %}


{% macro videos(
  events,
  title=none,
  slice=3
) %}
  {% set events = events|selectattr('video')|sort(attribute='date')|reverse|list %}

  {% if events|length %}
    <figure data-gallery="events">
      {% if title %}
        <figcaption class="events-list-title">
          {{ title|typogrify }}
        </figcaption>
      {% endif %}
      {% for event in events %}
        {% if (not slice) or (loop.index <= slice) %}
          {{ event.video|safe }}
        {% endif %}
      {% endfor %}
    </figure>
  {% endif %}
{% endmacro %}


{% macro feature(
  event
) %}
  {% if event %}
    <article class="feature-event" data-align="full" data-grid="full">
      {% set page = page if page else all_pages|filter_pages('slug', 'eq', event.slug)|get_page %}

      {{ name(
        event=event,
        page=page
      ) }}

      {{ meta(
        event=event,
        page=page
      ) }}

      <div class="event-summary" data-align="center">
        {{ page.render_summary() }}
      </div>
    </article>
  {% endif %}
{% endmacro %}


{% macro list(
  events,
  slice=none,
  highlight=none
) %}
  {% if events|length %}
    {% for event in events %}
      {% if (not slice) or (loop.index <= slice) %}
        {% if highlight and loop.first  %}
          {{ feature(event) }}
        {% else %}
          {{ item(event) }}
        {% endif %}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endmacro %}


{% macro item(
  event
) %}
  {% set event_date = event.date|make_date %}
  {% set page = all_pages|filter_pages('slug', 'eq', event.slug)|get_page %}

  <article class="event" data-align="full" data-grid="full">
    {{ name(
      event=event,
      page=page
    ) }}

    {{ meta(
      event=event,
      page=page
    ) }}

    <div class="event-summary" data-align="center">
      {{ page.config.brag|rst if page.config.brag else page.render_summary() }}
      {{ show_links(event) }}
    </div>
  </article>
{% endmacro %}


{% macro name(
  event,
  page
) %}
  <h3 class="event-title" data-align="center">
    {{ utility.link_if(
      content=event.venue,
      url=event.url,
      class='event-venue'
    ) }}:
    {{ utility.link_if(
      content=page.title|typogrify,
      url=content.page_link(page),
      class='event-slug'
    ) }}
  </h3>
{% endmacro %}


{% macro meta(
  event,
  page=none
) %}
  {% set event_date = event.date|make_date %}
  {% set page = page if page else all_pages|filter_pages('slug', 'eq', event.slug)|get_page %}

  <div class="event-meta">
    <time datetime="{{ event_date }}">
      {{ event_date|format_date('%B %-d, %Y') }}
    </time>
    {% if event.adr %}
      <span class="adr">
        <i>in</i>
        <b>{{ event.adr|typogrify }}</b>
      </span>
    {% endif %}
  </div>
{% endmacro %}


{% macro show_links(
  event
) %}
  {% set links = {
    'slides': 'slides',
    'video_link': 'video',
    'transcript': 'transcript'
  } %}

  {% if event.slides or event.video_link or event.transcript %}
    <div class="event-list-links">
      {% for link in links %}
        {% if event[link] %}
          {{ utility.link_if(
            url=event[link],
            content=links[link],
            class='event-list-link'
          ) }}
        {% endif %}
      {% endfor %}
    </div>
  {% endif %}
{% endmacro %}
